<div class="typetable">
    <type-table 
        type='exhibition'
        sortings='jahr, ort, institution, titel, typ'
        detail-route='exhibition'
        fields='{
            "jahr" : "jahr",
            "ort": "{nobreak:ort}",
            "institution" : "institution",
            "titel":"titel",
            "typ":"typ"
        }'
        filters='[
            {"institution" : "institution"},
            {"ausstellung_ort" : "ausstellung.ort"},
            {"ausstellung_jahr" : "ausstellung.jahr"},
            {"ausstellung_typ" : "ausstellung.typ"}
        ]'>
    </type-table>
</div>