<div class="l-content">
    <div class="intro-block" ng-controller="homeSearch" ng-style="{'background-image':'url('+imgURL+')'}" ng-class="{active : searchActive}">
        <div class="l-container">
            <div class="l-content__main l-view--reader home-search"
                ng-class="{active : searchActive, loading : isLoading}">
                <div class="l-content__header hero">
                    <h1 class="hero--headline">{{spr.home_headline}}</h1>

                    <div class="hero--subheadline">{{spr.home_subheadline}}</div>
                </div>
                <div class="l-content__section power-search power-search--home">
                    <form class="form-container powersearch" novalidate>
                        <label for="powersearch" >{{ spr.search_all }}</label>
                        <div class="loading-indicator"></div>
                        <span class="s-icon"></span>
                        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                        <input type="text" id="powersearch"
                               name="powersearch"
                               class="power-search__input"
                               ng-focus="focus()"
                               ng-blur="blur()"
                               ng-model="user.query"
                               ng-change="change(user)"
                               ng-readonly="!searchActive"
                               autocomplete="off">
                    </form>
                </div>
                <div class="results" ng-if="result.photographer_count > 0 
                    || result.stock_count > 0
                    || result.institution_count > 0
                    || result.exhibition_count > 0
                    || result.literature_count > 0
                    || result.photos_results > 0">
                    <div class="textual">
                        <div class="result-set photographer" ng-if="result.photographer_count > 0">
                            <h5><a ui-sref="photographer">{{spr.photographers}}<small>{{spr.show_all}}</small></a></h5>
                            <ul>
                                <li ng-repeat="photographer in result.photographer_results | limitTo: limit">
                                    <a ng-click="$root.detail(photographer.id, 'photographer', result.photographer_ids)">
                                    {{photographer.nachname}} {{photographer.vorname}} {{photographer.namenszusatz}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="result-set stocks" ng-if="result.stock_count > 0">
                            <h5><a ui-sref="inventory">{{spr.bestaende2}}<small>{{spr.show_all}}</small></a></h5>
                            <ul>
                                <li ng-repeat="stock in result.stock_results | limitTo: limit">
                                    <a ng-click="$root.detail(stock.id, 'inventory', result.stock_ids)">
                                    {{stock.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="result-set institution" ng-if="result.institution_count > 0">
                            <h5><a ui-sref="institution">{{spr.institution}}<small>{{spr.show_all}}</small></a></h5>
                            <ul>
                                <li ng-repeat="institution in result.institution_results | limitTo: limit">
                                    <a ng-click="$root.detail(institution.id, 'institution', result.institution_ids)"
                                        ng-if="institution.name">
                                    {{institution.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="result-set exhibition" ng-if="result.exhibition_count > 0">
                            <h5><a ui-sref="exhibition">{{spr.ausstellung}}<small>{{spr.show_all}}</small></a></h5>
                            <ul>
                                <li ng-repeat="exhibition in result.exhibition_results | limitTo: limit">
                                    <a ng-click="$root.detail(exhibition.id, 'exhibition', result.exhibition_ids)">
                                    {{exhibition.titel}} - {{exhibition.jahr}}, {{exhibition.ort}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="result-set literature" ng-if="result.literature_count > 0">
                            <h5><a ui-sref="literatur">{{spr.literatur}}<small>{{spr.show_all}}</small></a></h5>
                            <ul>
                                <li ng-repeat="literature in result.literature_results | limitTo: limit">
                                    <a ng-click="$root.detail(literature.id, 'literature', result.literature_ids)">
                                    {{literature.titel}} - {{literature.jahr}}, {{literature.ort}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="imagery">
                        <ul>
                            <li ng-repeat="photos in result.photos_results | limitTo: photolimit">
                                <a ng-click="$root.detail(photos.id, 'photo', result.photos_ids)">
                                    <img src="{{ imageRootUrl }}{{photos.image_path}}" width="100%" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="photographer-teaser">
        <div class="l-container">
            <h2>{{spr.fotographInnen}}</h2>
            <uib-tabset active="active">
                <uib-tab index="1" heading="{{spr.latest_changed}}">
                    <div class="flex">
                      <div class="photographer-block" ng-repeat="p in recent_photographer">
                        <h4>
                            <a ng-click="$root.detail(p.id, 'photographer')">{{p.nachname}}, {{p.vorname}}</a>
                            <span ng-if="p.geschlecht" ng-class="getGenderClass(p.geschlecht)"></span>
                        </h4>
                        <small ng-bind-html="p.fgeburtsdatum"></small>
                        <small ng-bind-html="p.fldatum"></small><br />
                        <small ng-bind-html="p.arbeitsperioden"></small>
                        <p ng-bind-html="p.bildgattungen"></p>
                        <p ng-bind-html="p.fotografengattungen"></p>
                      </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="{{spr.most_viewed}}">
                  <div class="flex">
                      <div class="photographer-block" ng-repeat="p in mostviewed_photographer">
                        <h4>
                            <a ng-click="$root.detail(p.id, 'photographer')">{{p.nachname}}, {{p.vorname}}</a>
                            <span ng-if="p.geschlecht" ng-class="getGenderClass(p.geschlecht)"></span>
                        </h4>
                        <small ng-bind-html="p.fgeburtsdatum"></small>
                        <small ng-bind-html="p.fldatum"></small><br />
                        <small ng-bind-html="p.arbeitsperioden"></small>
                        <p ng-bind-html="p.bildgattungen"></p>
                        <p ng-bind-html="p.fotografengattungen"></p>
                      </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>


    <div class="big-numbers">
        <div class="l-container">
            <div class="flex">
                <count-up-number number="{{statistics.photographer.count}}" title="{{spr.fotographInnen}}"></count-up-number>
                <count-up-number number="{{statistics.photographer.biographies}}" title="{{spr.biographies}}"></count-up-number>
                <count-up-number number="{{statistics.institution.count}}" title="{{spr.institutionen}}"></count-up-number>
                <count-up-number number="{{statistics.photos.count}}" title="{{spr.photos}}"></count-up-number>
                <count-up-number number="{{statistics.literature.count}}" title="{{spr.literatur}}"></count-up-number>
            </div>
        </div>
    </div>

    <photo-grid type="random" amount="20"></photo-grid>
</div>
