<div class="typetable">
    <type-table 
        type='institution'
        sortings='name, art, ort, kanton'
        detail-route='institution'
        display="list"
        fields='{
            "name":"{name} {shortname}",
            "art": "{nobreak:art}",
            "ort": "{nobreak:ort}",
            "kanton": "kanton"
        }'
        filters='[
            {"institution_ort" : "institution.ort"},
            {"institution_kanton" : "institution.kanton"}
        ]'>
    </type-table>
</div>