<div class="typetable">
    <type-table 
        type='stock'
        sortings='name, institution, ort, kanton'
        detail-route='inventory'
        fields='{
            "name":"name",
            "institution": "{nobreak:institution}",
            "ort": "{nobreak:ort}",
            "kanton": "{nobreak:kanton}"
        }'
        filters='[
            {"institution_ort" : "institution.ort"},
            {"institution_kanton" : "institution.kanton"},
            {"bestand_institution" : "institution.name"}
        ]'>
    </type-table>
</div>