<div class="typetable">
    <type-table 
        type='literature'
        sortings='verfasser_name, titel, ort, verfasser_name, jahr'
        detail-route='literature'
        display="list"
        fields='{
            "autorIn":"{verfasser_name}, {verfasser_vorname}",
            "titel":"titel",
            "ort":"{nobreak:ort}",
            "verlag":"{nobreak:verlag}",
            "jahr":"{nobreak:jahr}"
        }'
        filters='[
            {"literatur_ort" : "literatur.ort"},
            {"verlag" : "verlag"},
            {"literatur_jahr" : "literatur.jahr"}
        ]'>
    </type-table>
</div>