<div class="typetable map-container">
  <div class="filter-bar" ng-class="{loading : filtering}">
    <div class="l-container">
      <div class="left">
        <div class="loading-indicator"></div>
        <div class="textsearch" ng-class="{active : textsearch_focus}">
          <label for="textsearch">{{ translations.search_all }}</label>
          <span class="s-icon"></span>
          <input
              type="text"
              ng-focus="textsearchfocus()"
              ng-blur="textsearchblur()"
              ng-model="searchquery"
              ng-change="textsearch(searchquery)"
              id="textsearch">
        </div>

        <div class="filter">
          <p class="checkbox">
            <label><input type="checkbox" ng-model="photographer"
                          ng-change="search()">&nbsp;{{translations.photographers}}</label>
          </p>
        </div>

        <div class="filter">
          <p class="checkbox">
            <label>
              <input type="checkbox" ng-model="photos" ng-change="search()">&nbsp;{{translations.photos}}</label>
          </p>
        </div>
      </div>

      <div class="right">
        <a class="switchview" ng-class="currentViewClass()" ng-click="switchView()"></a>
        <a class="reset" ng-click="reset()"></a>
      </div>
    </div>
  </div>

  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map"></div>

  <div class="detailList" ng-class="{'show': ort}">
    <div ng-if="ort.type == 'foto'">
      <a ui-sref="photoDetail( {id: '{{ort.id}}'} )" ng-click="detail(ort.id, 'photo')">
        {{ort.name}}<br/>
        <img ng-src="{{ imageRootUrl + ort.image_path }}"/>
      </a>
      <br/>
      {{ort.dc_right}}
    </div>
    <div ng-if="ort.type == 'arbeitsort'">
      <p class="text-intro" ng-bind="ort.name"></p>
      <p class="text-intro" ng-bind-html="ort.swissname | rawHtml"></p>
      <div ng-repeat="ap in aps">
        <a ng-click="detail(ap.id,'photographer')">{{ ap.name }}</a> {{ ap.periode }}
      </div>
    </div>
  </div>
</div>
