<div class="typetable">
    <type-table 
        display='grid'
        type='photos'
        sortings='id, autor_lastname, title, description, descriptor, dcterms_medium'
        detail-route='photo'
        fields='{
            "photos": "{image:image_path}",
            "fotograph": "{nobreak:autor_forename} {autor_lastname}",
            "titel":"title",
            "description": "description",
            "descriptor": "descriptor",
            "medium": "dcterms_medium"
        }'
        filters='[
            {"photo_stichworte" : "fotos.dcterms_subject"}
        ]'>
    </type-table>
</div>