<div class="typetable">
    <type-table 
        display='grid'
        type='photos'
        sortings='id, autor_lastname, title, insititution, ort, descriptor, zeitraum'
        detail-route='photo'
        fields='{
            "photos": "{image:image_path}",
            "fotograph": "{nobreak:autor_forename} {autor_lastname}",
            "titel":"title",
            "institution": "institution",
            "ort": "ort",
            "descriptor": "descriptor",
            "zeitraum": "zeitraum"
        }'
        filters='[
            {"photo_stichworte" : "fotos.dcterms_subject"},
            {"photo_stocks" : "fotos.dcterms_ispart_of"}
        ]'>
    </type-table>
</div>