<div class="typetable">
    <type-table 
        type='photographer'
        detail-route='photographer'
        sortings='nachname, geburtsdatum, todesdatum, arbeitsorte, kanton, fotografengattungen_set, bildgattungen_set'
        fields='{
            "name":"{nachname}, {vorname}",
            "geburtsdatum": "{date:geburtsdatum}",
            "todesdatum": "{date:todesdatum}",
            "arbeitsorte" : "{shorten:arbeitsorte}",
            "kanton": "{shorten:kanton}",
            "fotografengattungen" : "{shorten:fotografengattungen_set}",
            "bildgattungen": "{shorten:bildgattungen_set}"
        }'
        filters='[
            {"fotografengattungen" : "fotografengattungen_set"},
            {"bildgattungen" : "bildgattungen_set"},
            {"fotografen_kanton" : "kanton"}
        ]'>
    </type-table>
</div>