<div class="l-content">
	<div class="l-content__main l-view--reader">
		<div class="l-content__header hero">
			<h1 class="hero--headline">{{spr.home_headline}}</h1>
			<div class="hero--subheadline">{{spr.home_subheadline}}</div>
		</div>
        <div class="l-content__section power-search">
            <power-search></power-search>
        </div>
        <div class="l-content__section">
            <photo-teaser-box class="l-photo-teaser l-photo-teaser--home"></photo-teaser-box>
        </div>
	</div>
</div>
