<div class="l-content">
    <div class="l-content__main l-view--reader">
        <div class="l-content__header hero">
            <h1 class="hero--headline">{{spr.home_headline}}</h1>

            <div class="hero--subheadline">{{spr.home_subheadline}}</div>
        </div>
        <div class="l-content__section power-search power-search--home">
            <div power-search></div>
            <div in-content-menu></div>
        </div>
        <div class="l-content__section">
            <div photo-teaser-box class="l-photo-teaser l-photo-teaser--home"
                 limit="limit"
                 photos="photos"
                 image-root-url="{{ imageRootUrl }}"
                 show-detail="true"></div>
        </div>
    </div>
</div>
