<div class="l-content l-readerview">
	<div class="l-content__main">
		<div class="l-content__header">
			<h1>{{spr.about_fotoch}}</h1>
		</div>
		<md class="l-content__section" ng-model="pages.about_fotoch"></md>
		<md class="l-content__section" ng-model="pages.quotation"></md>
		<md class="l-content__section" ng-model="pages.documentation_lexicon"></md>
		<md class="l-content__section" ng-model="pages.documentation_repertory"></md>
		<md class="l-content__section" ng-model="pages.documentation_copyright"></md>
	</div>
</div>