<div class="l-container">
    <div class="small-highlight">
        <h1 ng-if="!user">{{spr.login}}</h1>
        <h1 ng-if="user">{{spr.profile}}</h1>
        <p id="error-msg" class="alert alert__error" ng-if="errorMsg" ng-bind-html="errorMsg"></p>
        <form class="form-container" ng-if="!user">
            <input 
                type="text" 
                name="benutzername" 
                tabindex="1" 
                ng-model="login.username" 
                autofocus="autofocus" 
                autocorrect="off" 
                autocapitalize="off" 
                placeholder="{{spr.benutzername}}">

            <input 
                type="password" 
                name="password" 
                tabindex="2" 
                ng-model="login.password" 
                autocomplete="off" 
                autocorrect="off" 
                autocapitalize="off" 
                spellcheck="false" 
                placeholder="{{spr.passwort}}">

            <input class="btn btn--primary" type="submit" tabindex="3" ng-click="doLogin(login)" value="{{spr.login}}"></input>
        </form>
        <form class="form-container" ng-if="user">
            <p>{{spr.logged_in_as}}: {{$root.user_data.forename}} {{$root.user_data.name}}</p>
            <input class="btn btn--primary" type="submit" tabindex="4" ng-click="doLogout()" value="{{spr.logout}}"></input>
            <p id="error-msg" class="alert alert__error" ng-bind-html="errorMsg"></p>
        </form>
    </div>
</div>
