<div class="l-container">
    <div class="add-user" ng-class="{loading : isLoading}">
        <h1>{{ $root.translations.adduser }}</h1>
        <form novalidate name="userForm">
            <div class="loading-overlay"><div class="loading-indicator"></div></div>
            <label for="username">{{ $root.translations.user }} (xxx)*</label>
            <input
                type="text"
                id="username"
                name="username"
                ng-model="newuser.username"
                ng-maxlength="3"
                ng-minlength="3"
                required
                ng-required="true"
                tabindex="1"
                ng-class="{'input--error': userForm.username.$invalid && !userForm.username.$pristine}">
            <label for="vorname">{{ $root.translations.vorname }}*</label>
            <input
                type="text"
                id="vorname"
                ng-model="newuser.vorname"
                ng-required="true"
                tabindex="2"
                required>
            <label for="nachname">{{ $root.translations.nachname }}*</label>
            <input
                type="text"
                id="nachname"
                ng-model="newuser.nachname"
                tabindex="3"
                ng-required="true">
            <label for="password">{{ $root.translations.passwort }}*</label>
            <input
                type="text"
                id="password"
                ng-model="newuser.password"
                ng-required="true"
                tabindex="4"
                required
            >
            <label for="email">{{ $root.translations.email }}</label>
            <input
                type="email"
                id="email"
                tabindex="5"
                ng-model="newuser.email">
            <label for="level">{{ $root.translations.permission }}</label>
            <select
                ng-model="newuser.level"
                ng-init="newuser.level = '3'"
                ng-required="true"
                tabindex="6"
                required
                id="level">
                <option ng-repeat="(key, value) in levels" value="{{ key }}">{{ value }}</option>
            </select>
            <label for="inst_comment">{{ $root.translations.institution }} (ID)</label>
            <input
                type="text"
                id="inst_comment"
                tabindex="7"
                ng-model="newuser.inst_comment">
            <label for="stocks">{{ $root.translations.bestaende2 }}</label><!--
            <input
                type="text"
                id="stocks"
                ng-model="newuser.stocks"
                ng-pattern="/^(?!;)(;?[0-9]+)+$/">-->
            <select multiple
                ng-model="newuser.stocks"
                id="stocks"
                    tabindex="8"
                    ng-init="newuser.stocks = []"
            ng-options="stock.id as stock.value for stock in stocks">
            </select>
            <input
                type="submit"
                class="btn btn--primary"
                tabindex="9"
                ng-click="submitUser(user)"
                value="{{ $root.translations.senden }}"
                ng-disabled="userForm.$invalid">
            <a class="btn btn--link" ui-sref="user-management">{{ $root.translations.back }}</a>
        </form>
    </div>
</div>