<div class="l-content__section link-list" ng-if="photographer">
	<h2 ng-if="headline">{{headline}}</h2>
	<ul>
		<li ng-repeat="p in photographer" ng-if="!p.gesperrt || p.gesperrt==0">
			<a ui-sref="photographerDetail( {id: '{{p.id}}', anf: ''} )">
				<div class="link-list__title">
					{{p.nachname}}<span ng-if="p.vorname || p.namenszusatz">, {{p.vorname}} {{p.namenszusatz}}</span>
				</div>
				<div class="link-list__description" ng-if="p.fldatum" ng-bind-html="p.fldatum | rawHtml"></div>
			</a>
		</li>
		<li ng-repeat="p in photographer" ng-if="p.gesperrt==1">
			<div class="link-list__title">
				{{p.nachname}}<span ng-if="p.vorname || p.namenszusatz">, {{p.vorname}} {{p.namenszusatz}}</span>
			</div>
			<div class="link-list__description" ng-if="p.fldatum" ng-bind-html="p.fldatum | rawHtml"></div>
		</li>
	</ul>
</div>