<div class="l-content l-readerview">
	<div class="l-content__main l-view--reader">
		<div class="l-content__header">
			<h1>{{detail.name}}</h1>
		</div>
		<div class="l-content__section">
			<dl>
				<dt ng-if="detail.inst_name">{{translations.institution}}</dt>
				<dd ng-if="detail.inst_name"><a ui-sref="institutionDetail( {id: '{{detail.inst_id}}', anf: ''})">{{detail.inst_name}}</a></dd>
				<dt ng-if="detail.zeitraum">{{translations.zeitraum}}</dt>
				<dd ng-if="detail.zeitraum">{{detail.zeitraum}}</dd>
				<dt ng-if="detail.link_extern">{{translations.link_extern}}</dt>
				<dd ng-if="detail.link_extern"><a href="{{detail.link_extern}}" target="_blank">{{detail.link_extern}}</a></dd>
				<dt ng-if="detail.signatur">{{translations.signatur}}</dt>
				<dd ng-if="detail.signatur">{{detail.signatur}}</dd>
				<dt ng-if="detail.copyright">{{translations.copy}}</dt>
				<dd ng-if="detail.copyright">{{detail.copyright}}</dd>
				<dt ng-if="detail.bildgattungen">{{translations.bildgattungen}}</dt>
				<dd ng-if="detail.bildgattungen">{{detail.bildgattungen}}</dd>
				<dt ng-if="detail.umfang">{{translations.umfang}}</dt>
				<dd ng-if="detail.umfang">{{detail.umfang}}</dd>
				<dt ng-if="detail.weiteres">{{translations.weitere_materialien}}</dt>
				<dd ng-if="detail.weiteres">{{detail.weiteres}}</dd>
				<dt ng-if="detail.erschliessungsgrad">{{translations.erschliessungsgrad}}</dt>
				<dd ng-if="detail.erschliessungsgrad">{{detail.erschliessungsgrad}}</dd>
			</dl>
		</div>
		<content-raw headline="translations.bestandsbeschreibung" value="detail.bestandsbeschreibung"></content-raw>
		<photographer-reference headline="translations.fotographInnen" photographer="detail.photographer"></photographer-reference>
	</div>
	<aside class="l-content__aside l-content__right">
		<photo-teaser photos="detail.photos" labels="translations" headline="translations.photos_from_stock"></photo-teaser>
		<editing-info labels="translations" date="detail.bearbeitungsdatum" author="detail.autorIn"></editing-info>
		<div class="l-content__actions">
			<a class="btn btn--action" ui-sref="contact">{{translations.proposal_for_improvements}}</a>
		</div>
	</aside>
</div>