<!DOCTYPE html>
<html>
<head>
	<title>foto-ch mit AngularJS</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="fotoCH ist ein Online-Werk, das über die historische Fotografie in der Schweiz informiert. Es besteht aus einem biografischen Lexikon der Fotografinnen und Fotografen und einem Repertorium der fotografischen Archive und Nachlässe.">
	<meta name="keywords" content="Fotografie, Foto, Schweiz, Lexikon, Institution, Ausstellung, Biografie, Nachlass, Verzeichnis, Geschichte">
	<meta name="robots" content="follow, index">
	<link rel="stylesheet" href="assets/css/normalize.min.css">
	<link rel="stylesheet" href="assets/css/angucomplete-alt.css">
	<link rel="stylesheet" href="assets/css/loading-bar.css">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-app="fotochWebApp" ng-controller="MainCtrl" class="lang-{{lang}}" ng-class="{'showOverlay':isMenuOpen}">
	<header class="l-header" headroom tolerance="20" offset="0">
		<div class="l-container">
			<div class="logo-header">
				<a href="#/">fotoCH</a>
			</div>
			<div class="nav-container" ng-controller="NavigationCtrl" class="ng-cloak">
				<nav ngCloak class="nav-main ng-cloak" ng-class="{'is-open':isMenuOpen}">
					<ul>
						<li><a ng-class="getClass('/fotographer')" ui-sref="fotographer">{{spr.photographers}}</a></li>
						<li><a ng-class="getClass('/institution')" ui-sref="institution">{{spr.institutionen}}</a></li>
						<li><a ng-class="getClass('/test')" ui-sref="test">Test</a></li>
						<li class="lang-switch--small">
							<a ng-class="getLclass('de')" ng-click="setLanguage('de')">de</a>
							<a ng-class="getLclass('fr')" ng-click="setLanguage('fr')">fr</a>
							<a ng-class="getLclass('it')" ng-click="setLanguage('it')">it</a>
							<!-- <a ng-class="getLclass('rm')" ng-click="setLanguage('rm')">rm</a>
							<a ng-class="getLclass('en')" ng-click="setLanguage('en')">en</a> -->
					</ul>
					<button type="button" class="btn btn--link nav-main__toggle" ng-click="toggleMobileMenu()">
						<span class="icon-bar"></span>
					</button>
				</nav>
				<div class="lang-switch" class="ng-cloak" ng-class="{'is-open':isLangSwitchOpen}">
					<button type="button" class="btn btn--link ng-cloak" ng-click="toggleLangSwitch()">{{lang}}</button>
					<ul>
						<li><a ng-class="getLclass('de')" ng-click="setLanguage('de')">de</a></li>
						<li><a ng-class="getLclass('fr')" ng-click="setLanguage('fr')">fr</a></li>
						<li><a ng-class="getLclass('it')" ng-click="setLanguage('it')">it</a></li>
						<!-- <li><a ng-class="getLclass('rm')" ng-click="setLanguage('rm')">rm</a></li>
						<li><a ng-class="getLclass('en')" ng-click="setLanguage('en')">en</a></li> -->
					</ul>					
				</div>
			</div>
		</div>
	</header>
	<div class="l-main" role="main">
		<div class="l-container" ui-view></div>
	</div>
	<footer class="l-footer" ngCloak class="ng-cloak">
		<div class="l-container">
			<div class="copyright">
				© 2015 Büro für Fotografiegeschichte Bern
			</div>
			<nav class="nav-meta ng-cloak">
				<ul>
					<li><a href="" onclick="alert('TODO: Noch nicht implementiert');">{{spr.kontakt}}</a></li>
					<li><a href="" onclick="alert('TODO: Noch nicht implementiert');">{{spr.impressum}}</a></li>
					<li><a class="hide-on-small" ui-sref="login">Login</a></li>

				</ul>
			</nav>
		</div>
	</footer>
	<script scr="assets/libs/jquery-2.1.3.min.js"></script>

	<script src="assets/libs/angular.js"></script>
	<script src="assets/libs/angular-ui-router.js"></script>
	<script src="assets/libs/angucomplete-alt.js"></script>
	<script src="assets/libs/headroom.min.js"></script>
	<script src="assets/libs/angular.headroom.min.js"></script>
	<script src="assets/libs/loading-bar.js"></script>

	<script src="app/app.module.js"></script>
	<script src="app/app.controllers.js"></script>
	<script src="app/app.directives.js"></script>
	<script src="app/app.routes.js"></script>
</body>
</html>