<!DOCTYPE html>
<html  lang="de">
<head>
	<title>foto-ch mit AngularJS</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="fotoCH ist ein Online-Werk, das über die historische Fotografie in der Schweiz informiert. Es besteht aus einem biografischen Lexikon der Fotografinnen und Fotografen und einem Repertorium der fotografischen Archive und Nachlässe.">
	<meta name="keywords" content="Fotografie, Foto, Schweiz, Lexikon, Institution, Ausstellung, Biografie, Nachlass, Verzeichnis, Geschichte">
	<meta name="robots" content="follow, index">
	<link rel="stylesheet" href="assets/css/normalize.min.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/angucomplete-alt.css">
</head>
<body ng-app="fotochWebApp" ng-controller="MainCtrl">
	<header class="l-header" headroom tolerance="20" offset="0">
		<div class="l-container">
			<div class="logo-header">
				<a href="#/">fotoCH</a>
			</div>
			<nav class="nav-main" ng-controller="NavigationCtrl" ng-class="{'is-open':isMenuOpen}">
				<ul>
					<li><a ng-class="getClass('/fotographer')" ui-sref="fotographer">{{spr.fotograph}}</a></li>
					<li><a ng-class="getClass('/login')" ui-sref="login">Login</a></li>
					<li><a ng-class="getClass('/test')" ui-sref="test">Test</a></li>
				</ul>
				<button type="button" class="nav-main__toggle" ng-click="toggleMobileMenu()">
					<span class="icon-bar"></span>
				</button>
			</nav>
		</div>
	</header>
	<div class="l-main" role="main">
		<div class="l-container" ui-view></div>
	</div>
	<footer class="l-footer">
		<div class="l-container">
			<div class="contact">
				<p>
					©Büro für Fotografiegeschichte Bern
					Optingenstrasse 54
					3013 Bern
				</p>				
			</div>
			<nav class="nav-meta">
				<ul>
					<li><a href="">{{spr.kontakt}}</a></li>
					<li><a href="">{{spr.impressum}}</a></li>
					<li><a href="">{{spr.help}}</a></li>
				</ul>
			</nav>
			<div class="language-switch">
					<li><a ng-class="getLclass('de')" ng-click="setLanguage('de')">de</a></li>
					<li><a ng-class="getLclass('fr')" ng-click="setLanguage('fr')">fr</a></li>
					<li><a ng-class="getLclass('it')" ng-click="setLanguage('it')">it</a></li>
					<!-- <li><a ng-class="getLclass('rm')" ng-click="setLanguage('rm')">rm</a></li>
					<li><a ng-class="getLclass('en')" ng-click="setLanguage('en')">en</a></li> -->
			</div>
		</div>
	</footer>

	<script scr="assets/libs/jquery-2.1.3.min.js"></script>

	<script src="assets/libs/angular.js"></script>
	<script src="assets/libs/angular-ui-router.js"></script>
	<script src="assets/libs/angucomplete-alt.js"></script>
	<script src="assets/libs/headroom.min.js"></script>
	<script src="assets/libs/angular.headroom.min.js"></script>

	<script src="app/app.module.js"></script>
	<script src="app/app.routes.js"></script>
</body>
</html>