<div class="l-content l-listview">
	<div class="l-content__main">
		<div class="l-content__header">
			<h1>{{spr.photographers}}</h1>
			<!-- <p class="text-intro">
				{{spr.durchsuchen_sie_das}}
			</p> -->

			<form class="form-container" action="" novalidate>
				<div angucomplete-alt 
				id="fotographer-autocomplete"
				class="field-autocomplete"
				placeholder="{{spr.suche}} {{spr.fotograph}}"
				pause="100"
				selected-object="fotographerSelected"
				remote-url="https://www2.foto-ch.ch/api/ftas.php?s="
				minlength="1"
				title-field="name,vorname"
				description-field="fldatum"
				input-class="form-control">
				</div>
			</form>
		</div>
		<div class="l-content__section">
			<div class="link-list">
				<ul>
					<li ng-repeat="t in list.res" ui-sref="fotographerDetail( {id: '{{t.id}}', anf: ''} )">
						<div class="link-list__title">
							{{t.nachname}} {{t.vorname}} {{t.namenszusatz}}
						</div>
						<div class="link-list__description" ng-bind-html="t.fldatum | rawHtml"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<aside class="l-content__aside l-content__right">
		<h2>{{spr.kategorien}}</h2>
		<button type="button" class="btn btn--action" ng-repeat="initial in abc" ui-sref="fotographer( {anf: '{{initial}}'} )">{{initial}}</button>
	</aside>
</div>