<div class="l-content">
	<div class="l-content--main">
		<h1>{{spr.photographers}}</h1>
		<p class="text-intro">
			Durchsuchen Sie das biografische Lexikon der Fotografinnen und Fotografen.
		</p>

		<form class="form-container" action="" novalidate>
			<!--	<input type="text" name="fotographer"> -->
			<angucomplete id="fotographer"
			placeholder="{{spr.suche}} {{spr.fotograph}}"
			pause="100"
			selectedobject="testObj"
			url="http://www2.foto-ch.ch/api/ftas.php?s="
			minlength="1"
			titlefield="name,vorname"
			descriptionfield="id"
			autofocus
			inputclass="form-control form-control-small"></angucomplete>
			<!-- <button type="submit" class="btn-primary">{{spr.submit}}</button> -->
		</form>

		{{debug}}
		<div class="result-list">
			<div class="result-list__headline">
				<span class="result-list__column">{{spr.name}}</span>
				<span class="result-list__column">{{spr.lebensdaten}}</span>
			</div>
			<div class="result-list__item" ng-repeat="t in list.res" ui-sref="fotographerDetail( {id: '{{t.id}}', anf: ''} )">
				<span class="result-list__column">{{t.nachname}} {{t.vorname}} {{t.namenszusatz}}</span>
				<span class="result-list__column" ng-bind-html="t.fldatum | rawHtml"></span>
			</div>
			
		</div>
	</div>
	<aside class="l-content--aside l-content--right">
		<h2>Kategorieren</h2>
		<button type="button" class="btn btn-primary" ng-repeat="initial in abc" ui-sref="fotographer( {anf: '{{initial}}'} )">{{initial}}</button>
	</aside>
</div>