<div class="l-content l-readerview">
	<div class="l-content__main l-view--reader">
		<div class="l-content__header">
			<h1 ng-repeat="n in detail.namen" ng-if="$first">{{n.nachname}} {{n.vorname}} {{n.namenszusatz}}</h1>
			<div>{{detail.fldatum}}</div>
		</div>
		<div class="l-content__section">
			<dl>
				<dt ng-if="detail.namen.length > 1">{{spr.namensvariante}}</dt>
				<dd ng-if="!$first" ng-repeat="n in detail.namen">{{n.nachname}} {{n.vorname}} {{n.namenszusatz}}</dd>
				<dt ng-if="detail.heimatort">{{spr.heimatort}}</dt>
				<dd ng-if="detail.heimatort">{{detail.heimatort}}</dd>
				<dt ng-if="detail.fotografengattungen">{{spr.fotografengattungen}}</dt>
				<dd ng-if="detail.fotografengattungen">{{detail.fotografengattungen}}</dd>
				<dt ng-if="detail.bildgattungen">{{spr.bildgattungen}}</dt>
				<dd ng-if="detail.bildgattungen">{{detail.bildgattungen}}</dd>
				<dt ng-if="detail.beruf">{{spr.beruf}}</dt>
				<dd ng-if="detail.beruf">{{detail.beruf}}</dd>
				<dt ng-if="detail.arbeitsperioden.length > 1">{{spr.arbeitsorte}}</dt>
				<dt ng-if="detail.arbeitsperioden.length==1">{{spr.arbeitsort}}</dt>
				<dd ng-repeat="a in detail.arbeitsperioden">{{a.arbeitsort}} {{a.um_vonf+a.von+ (a.um_vonf+a.von+a.um_bisf+a.bis!=''?' - ':' ')+a.um_bisf+a.bis}}</dd>
				<dt ng-if="detail.kantone">{{spr.kantone}}</dt>
				<dd ng-if="detail.kantone">{{detail.kantone}}</dd>
				<dt ng-if="detail.pnd">GND</dt>
				<dd ng-if="detail.pnd"><a target="_blank" href="http://d-nb.info/gnd/{{detail.pnd}}">{{detail.pnd}}</a></dd>
			</dl>
		</div>
		<section-raw title="spr.biografie" value="detail.biografie"></section-raw>
		<section-raw class="hide-on-medium" title="spr.umfeld" value="detail.umfeld"></section-raw>
		<section-raw title="spr.werdegang" value="detail.werdegang"></section-raw>
		<section-raw title="spr.schaffensbeschrieb" value="detail.schaffensbeschrieb"></section-raw>
		<section-raw title="spr.auszeichnungen_und_stipendien" value="detail.auszeichnungen_und_stipendien"></section-raw>
		<div class="l-content__section link-list" ng-if="detail.bestaende.length>0">
			<h2>{{spr.bestaende2}}</h2>
			<ul>
				<li ng-repeat="b in detail.bestaende">
					<div class="link-list__title">
						{{b.name}}
					</div>
					<div class="link-list__description">
						<span ng-if="b.inst_name"><strong>{{spr.institution}}:</strong> {{b.inst_name}}</span> <span ng-if="b.zeitraum">| <strong>{{spr.zeitraum}}: </strong> {{b.zeitraum}}</span>
					</div>
				 </li>
			</ul>
		</div>
		<section-list title="spr.primaerliteratur" values="detail.primaerliteratur"></section-list>
		<section-list title="spr.sekundaerliteratur" values="detail.sekundaerliteratur"></section-list>
		<section-list title="spr.einzelausstellungen" values="detail.einzelausstellungen"></section-list>
		<section-list title="spr.gruppenausstellungen" values="detail.gruppenausstellungen"></section-list>
		<section-default title="spr.notiz" value="detail.notiz"></section-default>
		<section-default title="spr.npublizieren" value="detail.npublizieren"></section-default>
	</div>
	<aside class="l-content__aside l-content__right">
		<section-raw title="spr.umfeld" value="detail.umfeld" class="hide-on-small"></section-raw>
		<div class="l-content__section" ng-if="detail.fbearbeitungsdatum">
			<h2>{{spr.bearbeitungsdatum}}</h2>
			<p>{{detail.fbearbeitungsdatum}} <span ng-if="detail.autorIn">{{spr.von}} {{detail.autorIn}}</span></p>
		</div>
		<div class="l-content__section">
			<a class="btn btn--action" href="#" onclick="alert('TODO: Noch nicht implementiert');">Eine Korrektur melden</a>
		</div>
	</aside>
</div>