<div class="left">
    <img ng-src="{{ imageRootUrl }}{{photo.image_path}}" style="max-height: 640px; max-width:100%">
</div>
<div class="right">
    <div class="l-photo__description">
        <dl ng-if="!doComments">
            <dt ng-if="photo.name">{{spr.fotograph}}</dt>
            <dd ng-if="photo.name">
                <a ng-click="$root.detail(photo.dc_creator, 'photographer' )">{{ photo.name }}</a>
            </dd>
            <editable 
                title="spr.titel" 
                institution="photo.inst_id" 
                stock="photo.stock_id"
                value="photo.title"
                field="dc_title" 
                type="photo" 
                entry="photo.id" />

            <editable 
                title="spr.description" 
                institution="photo.inst_id"
                stock="photo.stock_id"
                value="photo.description" 
                field="dc_description" 
                type="photo" 
                entry="photo.id" />

            <editable 
                title="spr.ort" 
                institution="photo.inst_id"
                stock="photo.stock_id"
                value="photo.dct_spatial" 
                field="dcterms_spatial" 
                type="photo" 
                entry="photo.id" />


            <editable 
                title="spr.erstellungsdatum" 
                institution="photo.inst_id"
                stock="photo.stock_id"
                value="photo.created" 
                field="zeitraum" 
                type="photo" 
                entry="photo.id" />


            <editable 
                title="spr.keywords" 
                institution="photo.inst_id"
                stock="photo.stock_id"
                value="photo.subject" 
                field="dcterms_subject" 
                type="photo" 
                entry="photo.id" />

            <dt ng-if="photo.institution">{{spr.institution}}</dt>
            <dd ng-if="photo.institution">
                <a ng-click="$root.detail(photo.inst_id, 'institution' )">{{ photo.institution }}</a>
            </dd>
            <dt ng-if="photo.stock">{{spr.bestand}}</dt>
            <dd ng-if="photo.stock">
                <a ng-click="$root.detail(photo.stock_id, 'inventory' )">{{ photo.stock }}</a>
            </dd>
            <dt ng-if="photo.copy">{{spr.copy}}</dt>
            <dd ng-if="photo.copy && photo.edm_licence" ng-bind-html="photo.copy + ' ' + photo.edm_licence | rawHtml"></dd>
            <dd ng-if="photo.copy && !photo.edm_licence" ng-bind-html="photo.copy | rawHtml"></dd>
            <dt ng-if="photo.url_wikimedia">{{spr.url_wikimedia}}</dt>
            <dd ng-if="photo.url_wikimedia"><a href="{{ photo.url_wikimedia }}" target="_blank" style="word-wrap: break-word;">
                    {{ photo.url_wikimedia }}</a>
            </dd>
            <dt ng-if="photo.edm_order">{{spr.edm_order}}</dt>
            <dd ng-if="photo.edm_order"><a href="{{ photo.edm_order }}" style="word-wrap: break-word;">
                    {{ photo.edm_order }}</a>
            </dd>

            <editable
                title="spr.medium"
                institution="photo.inst_id"
                stock="photo.stock_id"
                value="photo.medium"
                field="dcterms_medium"
                type="photo"
                entry="photo.id" />

            <dt ng-if="photo.img_url">{{spr.img_url}}</dt>
            <dd ng-if="photo.img_url"><a ng-href="{{photo.img_url}}">{{photo.img_url}}</a></dd>
            <dt ng-if="photo.supp_id">{{spr.supp_id}}</dt>
            <dd ng-if="photo.supp_id" ng-bind-html="photo.supp_id | rawHtml"></dd>
            <dt ng-if="photo.supp_id">ID-Foto</dt>
            <dd ng-if="photo.supp_id" ng-bind-html="photo.id | rawHtml"></dd>

            <editable
                title="spr.latitude"
                institution="photo.lat"
                stock="photo.lat"
                value="photo.lat"
                field="lat"
                type="photo"
                entry="photo.id" />

            <editable
                title="spr.longitude"
                institution="photo.lon"
                stock="photo.lon"
                value="photo.lon"
                field="lon"
                type="photo"
                entry="photo.id" />

            <editable
                title="spr.edm_notes"
                institution="photo.inst_id"
                stock="photo.stock_id"
                value="photo.edm_notes"
                field="edm_notes"
                type="photo"
                entry="photo.id" />

            <editable
                title="spr.edm_condition"
                institution="photo.inst_id"
                stock="photo.stock_id"
                value="photo.edm_condition"
                field="edm_condition"
                type="photo"
                entry="photo.id" />

            <editable
                title="spr.edm_author"
                institution="photo.inst_id"
                stock="photo.stock_id"
                value="photo.edm_author"
                field="edm_author"
                type="photo"
                entry="photo.id" />

            <editable
                title="spr.edm_editing_date"
                institution="photo.inst_id"
                stock="photo.stock_id"
                value="photo.edm_editing_date"
                field="edm_editing_date"
                type="photo"
                entry="photo.id" />

        </dl>
        <dl ng-if="doComments"><form ng-submit="submit()">
            <dt>{{spr.name}}</dt>
            <dd ng-bind-html="photo.name | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><input ng-model="comment.name" style="width: 100%;"></input></dd>                   
            <dt>{{spr.titel}}</dt>
            <dd ng-bind-html="photo.title | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><input ng-model="comment.title" style="width: 100%;"></input></dd>                     
            <dt>{{spr.description}}</dt>
            <dd ng-bind-html="photo.description | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><textarea ng-model="comment.description"></textarea></dd>
            <dt>{{spr.ort}}</dt>
            <dd ng-bind-html="photo.dct_spatial | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><textarea ng-model="comment.ort"></textarea></dd>
            <dt>{{spr.erstellungsdatum}}</dt>
            <dd ng-bind-html="photo.created | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><input ng-model="comment.created" style="width: 100%;"></input></dd>
            <dt>{{spr.keywords}}</dt>
            <dd ng-bind-html="photo.subject | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><textarea ng-model="comment.subject"></textarea></dd>
            <dt>{{spr.allgemeine_bemerkungen}}</dt>
            <dd><textarea ng-model="comment.comments"></textarea></dd>
            <dt>{{spr.erstellungsdatum}}</dt>
            <dt ng-if="photo.institution">{{spr.institution}}</dt>
            <dd ng-if="photo.institution">
                <a ng-click="$root.detail(photo.inst_id, 'institution' )">{{ photo.institution }}</a>
            </dd>
            <dt ng-if="photo.stock">{{spr.bestand}}</dt>
            <dd ng-if="photo.stock">
                <a ng-click="$root.detail(photo.stock_id, 'inventory' )">{{ photo.stock }}</a>
            </dd>
            <dt ng-if="photo.copy">{{spr.copy}}</dt>
            <dd ng-if="photo.copy" ng-bind-html="photo.copy | rawHtml"></dd>
            <dt ng-if="photo.medium">{{spr.medium}}</dt>
            <dd ng-if="photo.medium" ng-bind-html="photo.medium | rawHtml"></dd>
            <dt ng-if="photo.img_url">{{spr.img_url}}</dt>
            <dd ng-if="photo.img_url"><a ng-href="{{photo.img_url}}">{{photo.img_url}}</a></dd>
            <dt ng-if="photo.supp_id">{{spr.supp_id}}</dt>
            <dd ng-if="photo.supp_id" ng-bind-html="photo.supp_id | rawHtml"></dd>
            <dt ng-if="photo.supp_id">ID-Foto</dt>
            <dd ng-if="photo.supp_id" ng-bind-html="photo.id | rawHtml"></dd>
            <dt></dt>
            <dd><input type="submit" id="submit" value="{{spr.aenderungsvorschlag_speichern}}" /></dd>
            </form>
        </dl>
    </div>
</div>
