<div class="l-content l-content--center">
	<div class="l-content__main l-view--reader">
		<div class="l-content__header">
			<h1>Login</h1>
		</div>
		<div class="l-content__section">
			<form class="form-container">
				<input name="username" type="text" placeholder="{{spr.benutzername}}"><br>
				<input name="password" type="password" placeholder="{{spr.passwort}}" type="password"><br>
				<button class="btn btn-primary" type="submit">{{spr.senden}}</button>
				<p id="error-msg"></p>
			</form>
			
		</div>
	</div>
</div>
