.form-container {
	width: 100%;
	.l-content--center & {
		margin: 0 auto;
	}
	// Form validation with Angular
	.ng-invalid.ng-touched {
		border-color: @colorFeedbackError;
		outline-color: @colorFeedbackError;
	}
	.has-error .form__message {
		color: @colorFeedbackError;
		font-weight: bold;
	}
}

input.form-control,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
	border: 1px solid @colorFormBorder;
	font-size: 1rem;
}


// Definitions for the autocomplete field
.field-autocomplete {
	input {
		outline: none;
	}
	.angucomplete-dropdown {
		margin-top: -10px;
		padding: 0;
		font-size: 1rem;
		color: @colorText;
		width: 100%;
	}
	.angucomplete-searching {
		padding: 5px;
		font-size: 1rem;
	}
	.angucomplete-title {
		padding: 2px 5px;
		font-size: 1rem;
		color: @colorText;
	}
	.angucomplete-description {
		padding-left: 5px;
		color: @colorTextLight;
	}
	.text-match {
		color: @colorActionPrimary;
	}
	.angucomplete-selected-row, .angucomplete-row:hover {
		background-color: @colorLayoutLight;
		color: @colorActionPrimary;
		.angucomplete-title {
			color: @colorActionPrimary;
		}
	}
}