// Default lists used in the main area
.l-main {
	ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 1.5em;
	}
	li {
		position: relative;
		margin-bottom: 0.5rem;
		list-style: none;
		line-height: @textLineHeightDefault;
		&:before {
			content: '';
			position: absolute;
			width: 7px;
			height: 2px;
			top: 10px;
			left: -20px;
			background-color: @colorTextLight;
		}
	}
}

// Defining lists where each item is clickable
.link-list {
	ul {
		padding-left: 0;
	}
	li {
		padding: 5px 10px;
		list-style: none;
		.border-radius(@borderRadius);
		&:hover {
			background-color: @colorLayoutLight;
			cursor: pointer;
		}
		&:before {
			content: '';
		}
	}
	.link-list__title {
		color: @colorActionPrimary;
	}
	.link-list__description {
		color: @colorTextLight;
	}
}

// Definition list
dl {
	margin-top: 1em;
	margin-bottom: 0;
}

dt {
	color: @colorTextHeadline;
	font-weight: bold;
	line-height: @textLineHeightDefault;
	@media @layoutMedium {
		clear: both;
		float: left;
		min-width: 40%;
	}
	@media @layoutLarge {
		min-width: 35%;
	}
}

dd {
	margin-left: 0;
	padding-bottom: 1rem;
	line-height: @textLineHeightDefault;
	@media @layoutMedium {
			max-width: 50%;
		margin-left: 40%;
	}
	@media @layoutLarge {
		margin-left: 35%;
	}
}