// Elements placed in the header
.logo-header {
    width: 150px;
    display: inline-block;
    height: 60px;
    padding: 0 70px 0 10px;
    background-color: #ffffff;        // The background color is used to hide the navigation menu
    a {
        display: block;
        background: url('../img/logo-fotoch.svg') no-repeat;
        background-position: left center;
        width: auto;
        height:100%;
        .text-hide();
        .lang-fr & {
            background: url('../img/logo-fotoch-fr.svg') no-repeat;
        }
    }
    @media @layoutMedium {
        float: left;
        height: @headerHeightMedium;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: transparent;
    }
}

// Elements placed in the footer
.copyright {
    padding-right: 10px;
    padding-left: 10px;
    color: @colorTextLight;
    @media @layoutMedium {
        float: left;
        padding-right: 0;
        padding-left: 0;
    }
}
* {
    transition: 300ms;
}

// Section elements
section-default,
section-raw {
    width: 100%;
}

// Styling angular links
*[ui-sref] {
    cursor: pointer;
}

// ngCloak is used to avoid undesirable flicker effect caused by the html template display
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display: none !important;
}


/* animation on transition? */
.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}


