.logo-header {
	display: inline-block;
	height: 50px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	background-color: #ffffff;		// The background color is used to hide the navigation menu
	a {
		display: block;
		background: url('../img/logo-foto-ch.svg') no-repeat;
		width: auto;
		height:100%;
		.text-hide();
	}
	@media @layoutMedium {
		float: left;
		width: auto;
		height: 60px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 10px;
		background-color: transparent;
	}
}

// Defining the list of results (e.g. used for searching fotographers)
.result-list {
	padding-top: 1.25rem;
	.result-list__item {
		padding-bottom: 1rem;
		&:hover {
			cursor: pointer;
			color: @colorActionPrimary;
		}
	}
	.result-list__headline {
		margin-bottom: 10px;
		font-weight: bold;
	}
	.result-list__column {
		display: inline-block;
		min-width: 25%;
	}
}