// Defining the main navigation placed in the header
.nav-main {
	display: block;
	ul {
		display: none;
		position: absolute;
		margin: 0 -10px;
		padding: 0;
		width: 100%;
		background-color: @colorLayoutHighlight;
		@media @layoutMedium {
			display: inline-block;
			position: inherit;
			margin: 0;
			width: auto;
		}
	}
	&.is-open ul {
		display: block;
	}
	li {
		width: 100%;
		list-style-type: none;
		border-top: 1px solid @colorLayoutBorder;
		@media @layoutMedium {
			float: left;
			border-top: none;
			width: auto;
		}
	}
	a {
		display: block;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		line-height: 50px;
	}
	a:hover, a.is-active {
		position: relative;
		color: @colorTextInverted;
		background-color: @colorActionPrimary;
	}
	@media @layoutMedium {
		float: right;
		margin-right: 10%;
	}
}

// Defining the mobile menu
.nav-main__toggle {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 50px;
	padding: 0 10px;
	background-color: transparent;
	border: none;
	outline: none;
	@media @layoutMedium {
		display: none;			// Hide the menu button on tablet and desktop devices
	}
	.icon-bar {
		display: block;
		width: 25px;
		height: 3px;
		border-radius: 3px;
		background-color: #fff;
	}
	.icon-bar+.icon-bar {
		margin-top: 4px;
	}
}