.typetable {
    .filter-bar {
        position: fixed;
        width: 100%;
        top: 60px;
        height: 60px;
        background-color: #eeeeee;
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.24);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.24);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.24);
        z-index: 20;

        &.loading {
            .s-icon {
                opacity: 0;
            }
            .loading-indicator {
                opacity: 1;
            }
        }
        .textsearch.active {
            label[for="textsearch"] {
                top: 14px;
                font-size: 11px;
            }
        }
        .l-container {
            position: relative;
        }

        input[type="text"] {
            background-color: transparent;
            border: none;
            margin-bottom: 0;
            height: 60px;
            padding: 14px 0 6px 55px;
        }
        label[for="textsearch"] {
            transition: 300ms;
            position: absolute;
            left: 0;
            padding-left: 55px;
            top: 20px;
            z-index: 4;
            cursor: pointer;
        }
        .s-icon {
          transition: 300ms;
          position: absolute;
          left: 20px;
          top: 20px;
          background-image:url("../img/icons/search.svg");
          opacity: 0.26;
          width: 18px;
          height: 18px;
          background-size: 100%;
          z-index: 3;
        }

        .loading-indicator {
            opacity: 0;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            border: 0.18rem solid rgba(0, 0, 0, 0.2);
            border-top-color: black;
            -webkit-animation: spin 1s infinite linear;
                    animation: spin 1s infinite linear;

            position: absolute;
            left: 20px;
            z-index: 5;
            top: 50%;
            margin-top: -11px;
        }

        .textsearch {
            width: 320px;
            position: relative;
        }

        @media @layoutSmallMax{
            .filter{
                display: none;
            }
        }

        .filter {
            padding-right: 20px;
            padding-left: 20px;
            border-left: 1px solid #ccc;
            &:last-child {
                border-right: 1px solid #ccc;
            }
            position: relative;
            min-width: 200px;
            cursor: pointer;

            .values {
                position: absolute;
                left: 0;
                background-color: #eeeeee;
                width: 100%;
                padding: 0 20px 10px;

                -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.23);
                -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.23);
                box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.23);

                > input {
                    height: 30px;
                    border: 1px solid #ccc;
                    margin-bottom: 10px;
                    width: 100%;
                    padding-left: 5px;
                }

                .list-wrapper {
                    max-height: 200px;
                    overflow: auto;
                    padding-right: 10px;
                }
                .value {
                    line-height: 35px;
                    border-bottom: 1px solid #ccc;
                    position: relative;

                    a {
                        color: #333;
                        text-decoration: none;
                        display: block;
                    }

                    a.active {
                        color: @colorActionPrimary;
                        &:after {
                            background-color: @colorActionPrimary;
                        }
                    }

                    a:after {
                        top: 50%;
                        content: '';
                        position: absolute;
                        right: 5px;
                        border-radius: 3px;
                        background-color: #fff;
                        width: 12px;
                        height: 12px;
                        margin-top: -6px;
                        transition: 300ms;
                    }

                    a:last-child {
                        border-bottom: none;
                    }
                }
            }

            .title {
                display: block;
                height: 60px;
                line-height: 60px;
                position: relative;
                padding-right: 30px;

                &:after {
                    content:'';
                    position: absolute;
                    top:50%;
                    margin-top: -3px;
                    right: 0;
                    width: 0; 
                    height: 0; 
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                      
                    border-top: 5px solid rgba(0, 0, 0, 0.5);
                }
            }
        }

        @media @layoutSmallMax{
            .right {

                position: absolute;
                right: 0;
                top: 0;
            }
        }

        @media @layoutMedium{
            .left {
                position: relative;
                float: left;
                > * {
                    float: left;
                }
            }
            .right {
                float: right;
                > * {
                    float: left;
                }
            }
        }



        a.switchview {
            display: block;
            width: 60px;
            height: 60px;
            position: relative;
            cursor: pointer;
            border-right: 1px solid #ccc;

            &:hover:after {
                opacity: 0.7;
            }

            &:after {
              transition: 300ms;
              content: "";
              opacity: 0.4;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              position: absolute;
              z-index: -1;
              background-position: center center;
              background-repeat: no-repeat;
            }

            &.to-table:after {
                background-image:url("../img/icons/list.svg");
            }
            &.to-grid:after {
                background-image:url("../img/icons/grid.svg");
            }
        }

        @media @layoutSmallMax{
            a.switchview{
                display: none;
            }
        }

        a.reset {
            display: block;
            width: 60px;
            height: 60px;
            position: relative;
            cursor: pointer;

            &:hover {
                &:before, &:after {
                    background-color: @colorActionPrimary;
                }
            }

            &:before, &:after {
                pointer-events: none;
                transition: 300ms;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -8px;
                content:'';
                display: block;
                width: 2px;
                height: 16px;
                background-color: #848484;
            }
            &:before {
                transform:rotate(45deg);
            }
            &:after {
                transform:rotate(-45deg);
            }
        }
    }

    .table {
        margin-top: 60px;

        td, th{
            display: none;
        }

        td, th{
            display: none;
        }
        td:first-child,
        th:first-child{
            display: table-cell;
        }

        @media @layoutMedium{
            td:first-child,
            th:first-child,
            td:nth-child(2),
            th:nth-child(2),
            td:nth-child(3),
            th:nth-child(3)
            {
                display: table-cell;
            }
        }


        @media @layoutLarge{
            td, th{
                display: table-cell;
            }
        }

        table {
            width: 100%;

            tbody {
                tr {
                    transition: 200ms;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.025);
                    }
                }
            }

            tr {
                cursor: pointer;
                th {
                    height: 60px;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.7);
                    font-weight: normal;
                    text-align: left;
                    padding: 0 10px;
                    cursor: pointer;
                    white-space: nowrap;

                    &.sort-active {

                        &.asc {
                            &:after {
                                transform:rotate(-180deg);
                            }
                        }
                        &:after {
                            transition: 400ms;
                            position: relative;
                            left: 10px;
                            top: -2px;
                            display: inline-block;
                            content: '';
                            width: 0; 
                            height: 0; 
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid rgba(0,0,0,0.2);
                        }
                    }
                }
                td {
                    word-break: break-word;
                    padding: 0 10px;
                    height: 50px;
                    border-bottom: 1px solid rgba(141, 141, 141, 0.2);

                    img {
                        max-height: 40px;
                    }
                }
            }
        }
    }

    .nobreak {
        white-space: nowrap;
        word-break: normal;
    }

    .cropped {
        position: relative;
        white-space: nowrap;
        &:hover {
            ul {
                display: block;
                opacity: 1;
                z-index: 20;
            }
        }

        &:after {
            display: inline-block;
            content:", ...";
        }

        ul {
            transition: 200ms;
            opacity: 0;
            display: none;
            position: absolute;
            top: 25px;
            background-color: #eee;
            border: 1px solid #e3e3e3;
            padding: 10px 20px;
            border-radius: 2px;
            -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.24);
            -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.24);
            box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.24);

            li {
                white-space: nowrap;
                word-break: normal;
                &:before {
                    display: none;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .grid {
        margin-top: 80px;

        &:not(.has-image) {
            .tile {
                margin: 0 3% 20px 0;
                width: 30%;
                padding: 20px;
                background-color: #f0f0f0;


                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }

        > div {
            margin: 0 3% 20px 0;
            width: 22%;
            transition: none;

            &.tile {
                > div:first-child {
                    font-size: 17px;
                    margin-bottom: 15px;
                }
            }

            span.nobreak {
                white-space: normal;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }

            img {
                cursor: pointer;
                max-width: 100%;
            }
        }
    }

}