<div class="l-content">
	<div class="l-content--main">
		<div class="l-content--section" ng-if="detail.name">
			<st-field-raw label="spr.name" value="detail.name"></st-field-raw>
		</div>
		<div class="l-content--section" ng-if="detail.adresse">
			<st-field-raw label="spr.adresse" value="detail.adresse"></st-field-raw>
		</div>
		<div class="l-content--section" ng-if="detail.ort">
			<st-field-raw label="spr.ort" value="detail.ort"></st-field-raw>
		</div>
		<div class="l-content--section" ng-if="detail.email">
			<st-field-raw label="spr.email" value="detail.email"></st-field-raw>
		</div>
		<div class="l-content--section" ng-if="detail.sammlungszeit">
			<st-field-raw label="spr.sammlungszeit" value="detail.sammlungszeit"></st-field-raw>
		</div>
		<div class="l-content--section" ng-if="detail.sammlungsgeschichte">
			<st-field-raw label="spr.sammlungsgeschichte" value="detail.sammlungsgeschichte"></st-field-raw>
		</div>				
		<div class="l-content--section">
			<st-field label="spr.notiz" value="detail.notiz"></st-field>
		</div>
		<div class="l-content--section">
			<st-field label="spr.npublizieren" value="detail.npublizieren"></st-field>
		</div>
	</div>
	<aside class="l-content--aside l-content--right">
		<st-field-raw label="spr.umfeld" value="detail.umfeld"></st-field-raw>
		<h2>{{spr.bearbeitungsdatum}}</h2>
		<p ng-if="detail.fbearbeitungsdatum">{{detail.fbearbeitungsdatum}} <span ng-if="detail.autorIn">{{spr.von}} {{detail.autorIn}}</span></p>
		<a class="" href="#" onclick="alert('TODO: Noch nicht implementiert');">Eine Korrektur melden</a>
	</aside>
</div>