<div class="l-content l-readerview">
	<div class="l-content__main l-view--reader">
		<div class="l-content__header">
			<h1>{{detail.name}}</h1>
			<div ng-if="detail.art">{{detail.art}}</div>
		</div>
		<div class="l-content__section">
			<dl>
				<dt ng-if="detail.adresse">{{spr.adresse}}</dt>
				<dd ng-if="detail.adresse">{{detail.adresse}}<span ng-if="detail.ort"><br>{{detail.ort}}</span></dd>
				<dt ng-if="detail.homepage">{{spr.homepage}}</dt>
				<dd ng-if="detail.homepage" ng-bind-html="detail.homepage | rawHtml"></dd>
				<dt ng-if="detail.zugang_zur_sammlung">{{spr.zugang_zur_sammlung}}</dt>
				<dd ng-if="detail.zugang_zur_sammlung">{{detail.zugang_zur_sammlung}}</dd>
				<dt ng-if="detail.sammlungszeit">{{spr.sammlungszeit}}</dt>
				<dd ng-if="detail.sammlungszeit">{{detail.sammlungszeit}}</dd>
				<dt ng-if="detail.bildgattungen_set">{{spr.bildgattungen}}</dt>
				<dd ng-if="detail.bildgattungen_set">{{detail.bildgattungen_set}}</dd>
			</dl>
		</div>
		<section-raw title="spr.sammlungsgeschichte" value="detail.sammlungsgeschichte"></section-raw>
		<section-raw title="spr.sammlungsbeschreibung" value="detail.sammlungsbeschreibung"></section-raw>
		<section-list-inventory labels="spr" inventories="detail.bestaende"></section-list-inventory>
		<section-default title="spr.notiz" value="detail.notiz"></section-default>
		<section-default title="spr.npublizieren" value="detail.npublizieren"></section-default>
	</div>
	<aside class="l-content__aside l-content__right">
		<div class="l-content__section" ng-if="detail.bearbeitungsdatum">
			<h2>{{spr.bearbeitungsdatum}}</h2>
			<p>{{detail.bearbeitungsdatum}} <span ng-if="detail.autorIn">{{spr.von}} {{detail.autorIn}}</span></p>
		</div>
		<div class="l-content__section">
			<a class="btn btn--action" href="#" onclick="alert('TODO: Noch nicht implementiert');">Eine Korrektur melden</a>
		</div>
	</aside>
</div>