<div class="l-content l-listview">
	<div class="l-content__main">
		<div class="l-content__header">
			<h1>{{spr.institutionen}}</h1>

			<form class="form-container" action="" novalidate ng-submit="enterFunc()">
				<div angucomplete-alt 
				id="institution-autocomplete"
				class="field-autocomplete"
				placeholder="{{spr.name}} {{spr.institution}}"
				pause="100"
				selected-object="institutionSelected"
				remote-url="https://www2.foto-ch.ch/api/itas.php?s="
				minlength="1"
				title-field="name"
				description-field="ort"
				match-class="text-match"
				input-class="form-control">
				</div>
			</form>
			<button type="button" class="btn btn--link" ng-repeat="initial in abc" ui-sref="institution( {anf: '{{initial}}'} )">{{initial}}</button>
		</div>
		<institution-list institutions="list.res"></institution-list>
	</div>
</div>