@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway-Regular-webfont.eot');
  src: url('../font/Raleway-Regular-webfont.eot?#iefix') format('embedded-openfont'), url('../font/Raleway-Regular-webfont.woff2') format('woff2'), url('../font/Raleway-Regular-webfont.woff') format('woff'), url('../font/Raleway-Regular-webfont.ttf') format('truefont'), url('../font/Raleway-Regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway-Light-webfont.eot');
  src: url('../font/Raleway-Light-webfont.eot?#iefix') format('embedded-openfont'), url('../font/Raleway-Light-webfont.woff2') format('woff2'), url('../font/Raleway-Light-webfont.woff') format('woff'), url('../font/Raleway-Light-webfont.ttf') format('truefont'), url('../font/Raleway-Light-webfont.svg#ralewaylight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../font/OpenSans-Regular-webfont.eot');
  src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-openfont'), url('../font/OpenSans-Regular-webfont.woff2') format('woff2'), url('../font/OpenSans-Regular-webfont.woff') format('woff'), url('../font/OpenSans-Regular-webfont.ttf') format('truefont'), url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../font/OpenSans-Italic-webfont.eot');
  src: url('../font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-openfont'), url('../font/OpenSans-Italic-webfont.woff2') format('woff2'), url('../font/OpenSans-Italic-webfont.woff') format('woff'), url('../font/OpenSans-Italic-webfont.ttf') format('truefont'), url('../font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../font/OpenSans-Semibold-webfont.eot');
  src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-openfont'), url('../font/OpenSans-Semibold-webfont.woff2') format('woff2'), url('../font/OpenSans-Semibold-webfont.woff') format('woff'), url('../font/OpenSans-Semibold-webfont.ttf') format('truefont'), url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  color: #333333;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-smooth: always;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #333333;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
p {
  line-height: 1.5;
}
a {
  font-weight: bold;
  color: #388099;
}
.text-intro {
  font-size: 1.125rem;
  line-height: 1.5;
}
.l-footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4b585c;
  color: #ffffff;
}
.l-header {
  background-color: #4b585c;
  font-family: Raleway, sans-serif;
  font-size: 1.5rem;
}
.l-header a {
  color: #dddddd;
  text-decoration: none;
  font-weight: normal;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.l-main {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body,
.l-main {
  background-color: #f2f2f2;
}
.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.l-content--main,
.l-content--aside {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 1px 1px 1px 0px #dddddd;
}
.l-content--aside {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .l-content--aside {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .l-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .l-content--main {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
  }
  .l-content--aside {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .l-content--left {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
    margin-right: 10px;
  }
  .l-content--right {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .l-content--main {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}
input[type="text"] {
  margin-bottom: 10px;
  font-size: 1rem;
  border-color: #4b585c;
}
@media screen and (min-width: 768px) {
  input[type="text"] {
    max-width: 50%;
  }
}
.logo-header {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .logo-header {
    width: 15%;
  }
}
.logo-header a {
  display: inline-block;
  background: url('../img/logo-foto-ch.svg') no-repeat;
  width: 100%;
  height: auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.result-list {
  padding-top: 20px;
}
.result-list .result-list__item {
  padding-bottom: 15px;
}
.result-list .result-list__item:hover {
  cursor: pointer;
  color: #388099;
}
.result-list .result-list__headline {
  margin-bottom: 10px;
  font-weight: bold;
}
.result-list .result-list__column {
  display: inline-block;
  min-width: 25%;
}
.nav-main {
  display: inline-block;
}
.nav-main ul {
  display: none;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .nav-main ul {
    display: inline-block;
  }
}
.nav-main li {
  float: left;
  list-style-type: none;
  margin-right: 40px;
}
.nav-main a:hover,
.nav-main a.is-active {
  position: relative;
  color: #ffffff;
}
.nav-main a:hover:after,
.nav-main a.is-active:after {
  position: absolute;
  content: "";
  bottom: -12px;
  right: 0px;
  left: 0px;
  border-bottom: 3px solid #dddddd;
}
.nav-main--toggle {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  padding: 0 10px;
  background-color: transparent;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .nav-main--toggle {
    display: none;
  }
}
.nav-main--toggle .icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
}
.nav-main--toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
