[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

.hide-on-small {
  display: none;
}
@media screen and (min-width: 768px) {
  .hide-on-small {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .hide-on-medium {
    display: none;
  }
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway-Light-webfont.eot');
  src: url('../font/Raleway-Light-webfont.eot?#iefix') format('embedded-openfont'), url('../font/Raleway-Light-webfont.woff2') format('woff2'), url('../font/Raleway-Light-webfont.woff') format('woff'), url('../font/Raleway-Light-webfont.ttf') format('truefont'), url('../font/Raleway-Light-webfont.svg#ralewaylight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway-Regular-webfont.eot');
  src: url('../font/Raleway-Regular-webfont.eot?#iefix') format('embedded-openfont'), url('../font/Raleway-Regular-webfont.woff2') format('woff2'), url('../font/Raleway-Regular-webfont.woff') format('woff'), url('../font/Raleway-Regular-webfont.ttf') format('truefont'), url('../font/Raleway-Regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway-SemiBold-webfont.eot');
  src: url('../font/Raleway-SemiBold-webfont.eot?#iefix') format('embedded-openfont'), url('../font/Raleway-SemiBold-webfont.woff2') format('woff2'), url('../font/Raleway-SemiBold-webfont.woff') format('woff'), url('../font/Raleway-SemiBold-webfont.ttf') format('truefont'), url('../font/Raleway-SemiBold-webfont.svg#ralewaysemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../font/OpenSans-Regular-webfont.eot');
  src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-openfont'), url('../font/OpenSans-Regular-webfont.woff2') format('woff2'), url('../font/OpenSans-Regular-webfont.woff') format('woff'), url('../font/OpenSans-Regular-webfont.ttf') format('truefont'), url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../font/OpenSans-Italic-webfont.eot');
  src: url('../font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-openfont'), url('../font/OpenSans-Italic-webfont.woff2') format('woff2'), url('../font/OpenSans-Italic-webfont.woff') format('woff'), url('../font/OpenSans-Italic-webfont.ttf') format('truefont'), url('../font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../font/OpenSans-Semibold-webfont.eot');
  src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-openfont'), url('../font/OpenSans-Semibold-webfont.woff2') format('woff2'), url('../font/OpenSans-Semibold-webfont.woff') format('woff'), url('../font/OpenSans-Semibold-webfont.ttf') format('truefont'), url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  color: #333333;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-smooth: always;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  color: #444444;
}
h1 {
  margin-bottom: 0.5em;
  font-family: Raleway, sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
  }
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  line-height: 1.7;
}
p.text-intro {
  color: #444444;
  font-family: Raleway, sans-serif;
}
a {
  color: #388099;
  text-decoration: none;
}
a:hover {
  color: #2a6174;
  text-decoration: underline;
}
.text-intro {
  font-size: 1.125rem;
  line-height: 1.7;
}
.l-footer {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.l-footer .l-container {
  padding-top: 0.5em;
  border-top: 1px solid #dddddd;
}
@media screen and (min-width: 768px) {
  .l-footer .l-container {
    padding-right: 2em;
    padding-left: 2em;
  }
}
@media screen and (min-width: 768px) {
  .l-footer .l-container {
    padding-right: 4em;
    padding-left: 4em;
  }
}
.l-header {
  height: auto;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  font-family: Raleway, sans-serif;
  font-size: 1.5rem;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .l-header {
    height: 60px;
  }
}
.l-header a {
  color: #333333;
  text-decoration: none;
  font-weight: normal;
}
.l-header .l-container {
  padding-right: 0;
  padding-left: 0;
}
.nav-container {
  height: 0;
}
@media screen and (min-width: 768px) {
  .nav-container {
    float: right;
  }
}
.headroom {
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease,-moz-transform 500ms ease,-o-transform 500ms ease,transform 500ms ease;
}
.headroom--pinned {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-box-shadow: 0px 0px 2px 1px #dddddd;
  -moz-box-shadow: 0px 0px 2px 1px #dddddd;
  box-shadow: 0px 0px 2px 1px #dddddd;
}
.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.headroom--top {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.l-main {
  margin-top: 50px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .l-main {
    margin-top: 60px;
  }
}
.l-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1200px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .l-container {
    overflow: inherit;
  }
}
.l-content--main,
.l-content--aside {
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .l-content--main,
  .l-content--aside {
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .l-content--main {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media screen and (min-width: 1024px) {
  .l-content--main {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .l-content--aside {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }
}
@media screen and (min-width: 1024px) {
  .l-content--aside {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
}
@media screen and (min-width: 768px) {
  .l-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .l-content--left {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
    margin-right: 10px;
  }
  .l-content--right {
    margin-left: 10px;
  }
}
.l-content__section {
  margin-top: 1em;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .l-content__section {
    margin-top: 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  .l-content__section {
    margin-top: 2em;
  }
}
@media screen and (min-width: 768px) {
  .l-readerview .l-content--right {
    margin-top: 65px;
  }
}
@media screen and (min-width: 1024px) {
  .l-readerview .l-content__header,
  .l-listview .l-content__header,
  .l-readerview .l-content__section,
  .l-listview .l-content__section {
    max-width: 80%;
  }
}
body.showOverlay:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 1;
}
.btn {
  display: inline-block;
  padding: 0;
  width: 100%;
  outline: none;
  font-size: 1rem;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-align: center;
}
.l-header .btn {
  font-size: inherit;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .btn {
    width: auto;
    display: inline-block;
    text-align: left;
  }
}
.btn--link {
  background-color: transparent;
  border: none;
  color: #388099;
}
.btn--link:hover {
  color: #2a6174;
}
.btn--action {
  padding: 0.5em 1em;
  border: 1px solid #388099;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.btn--action:hover {
  background-color: #388099;
  color: #ffffff;
}
input.form-control,
input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #4b585c;
  font-size: 1rem;
}
.field-autocomplete input {
  outline: none;
}
.field-autocomplete .angucomplete-dropdown {
  margin-top: -10px;
  padding: 0;
  font-size: 1rem;
  color: #333333;
  width: 100%;
}
.field-autocomplete .angucomplete-searching {
  padding: 5px;
  font-size: 1rem;
}
.field-autocomplete .angucomplete-title {
  padding: 2px 5px;
  font-weight: bold;
  font-size: 1rem;
  color: #333333;
  color: #388099;
}
.field-autocomplete .angucomplete-description {
  padding-left: 5px;
  color: #666666;
}
.field-autocomplete .angucomplete-selected-row,
.field-autocomplete .angucomplete-row:hover {
  background-color: #f2f2f2;
  color: #388099;
}
.field-autocomplete .angucomplete-selected-row .angucomplete-title,
.field-autocomplete .angucomplete-row:hover .angucomplete-title {
  color: #388099;
}
.lang-switch li,
.lang-switch--small li {
  list-style: none;
}
.lang-switch a,
.lang-switch--small a {
  text-transform: uppercase;
}
.lang-switch a:hover,
.lang-switch--small a:hover {
  cursor: pointer;
}
.lang-switch {
  display: none;
}
@media screen and (min-width: 768px) {
  .lang-switch {
    float: right;
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
  }
  .lang-switch .btn {
    position: relative;
    width: 59px;
    height: 59px;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    background-color: #ffffff;
    z-index: 1;
  }
  .lang-switch ul {
    position: absolute;
    top: 35px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    -webkit-border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 3px 3px;
    -moz-background-clip: padding;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: -webkit-transform 500ms ease,-moz-transform 500ms ease,-o-transform 500ms ease,transform 500ms ease;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: -1;
  }
  .is-open.lang-switch ul {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    z-index: 0;
  }
  .lang-switch a {
    display: block;
    padding: 5px 10px 0 10px;
    text-align: center;
  }
  .lang-switch a:hover {
    background-color: #f2f2f2;
    color: #388099;
  }
  .lang-switch a.is-active {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .lang-switch {
    margin-left: 1em;
  }
}
.lang-switch--small {
  height: 50px;
  border-top: 1px solid #dddddd;
}
.lang-switch--small a {
  float: left;
  display: block;
  width: 33.33%;
  height: 50px;
  text-align: center;
  border-right: 1px solid #dddddd;
}
.lang-switch--small a:last-child {
  border-right: none;
}
@media screen and (min-width: 768px) {
  .lang-switch--small {
    display: none;
  }
}
.nav-main li.lang-switch--small {
  padding-right: 0;
  padding-left: 0;
}
.l-main ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5em;
}
.l-main li {
  position: relative;
  margin-bottom: 0.5rem;
  list-style: none;
  line-height: 1.3;
}
.l-main li:before {
  content: '';
  position: absolute;
  width: 7px;
  height: 2px;
  top: 10px;
  left: -20px;
  background-color: #666666;
}
.link-list ul {
  padding-left: 0;
}
.link-list li {
  padding: 5px 10px;
  list-style: none;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.link-list li:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.link-list li:before {
  content: '';
}
.link-list .link-list__title {
  color: #388099;
}
.link-list .link-list__description {
  color: #666666;
}
dl {
  margin-top: 1em;
  margin-bottom: 0;
}
dt {
  color: #444444;
  font-weight: bold;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  dt {
    clear: both;
    float: left;
    min-width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  dt {
    min-width: 35%;
  }
}
dd {
  margin-left: 0;
  padding-bottom: 1rem;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  dd {
    max-width: 50%;
    margin-left: 40%;
  }
}
@media screen and (min-width: 1024px) {
  dd {
    margin-left: 35%;
  }
}
.logo-header {
  display: inline-block;
  width: 100%;
  height: 49px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  background-color: #ffffff;
}
.logo-header a {
  display: block;
  background: url('../img/logo-fotoch-de.svg') no-repeat;
  width: auto;
  height: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.lang-fr .logo-header a {
  background: url('../img/logo-fotoch-fr.svg') no-repeat;
}
@media screen and (min-width: 768px) {
  .logo-header {
    float: left;
    width: 25%;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: transparent;
  }
}
.contact {
  padding-right: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .contact {
    float: left;
    padding-right: 0;
    padding-left: 0;
  }
}
.nav-main {
  display: inline-block;
}
.nav-main ul {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease,-moz-transform 500ms ease,-o-transform 500ms ease,transform 500ms ease;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .nav-main ul {
    display: inline-block;
    position: inherit;
    width: auto;
    background-color: transparent;
    border-bottom: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.nav-main.is-open ul {
  display: block;
  top: 100%;
  border-top: 1px solid #dddddd;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.nav-main li {
  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav-main li {
    float: left;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.nav-main a {
  display: block;
  line-height: 50px;
  color: transparent;
}
@media screen and (min-width: 768px) {
  .nav-main a {
    line-height: 60px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: inherit;
  }
}
@media screen and (min-width: 1024px) {
  .nav-main a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.is-open.nav-main a {
  color: inherit;
}
.nav-main a:hover,
.nav-main a.is-active {
  position: relative;
  color: #388099;
}
.nav-main__toggle {
  position: absolute;
  right: 5px;
  top: 0px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .nav-main__toggle {
    display: none;
  }
}
.nav-main__toggle .icon-bar,
.nav-main__toggle .icon-bar:before,
.nav-main__toggle .icon-bar:after {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background-color: #388099;
}
.nav-main__toggle .icon-bar {
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease,-moz-transform 500ms ease,-o-transform 500ms ease,transform 500ms ease;
}
.nav-main__toggle .icon-bar:before,
.nav-main__toggle .icon-bar:after {
  content: '';
  position: relative;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease,-moz-transform 500ms ease,-o-transform 500ms ease,transform 500ms ease;
}
.nav-main__toggle .icon-bar:before {
  top: -6px;
}
.nav-main__toggle .icon-bar:after {
  bottom: -3px;
}
.is-open .nav-main__toggle .icon-bar {
  background-color: transparent;
}
.is-open .nav-main__toggle .icon-bar:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.is-open .nav-main__toggle .icon-bar:after {
  bottom: 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-meta {
  font-family: Raleway, sans-serif;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .nav-meta {
    float: right;
  }
}
.nav-meta ul {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav-meta ul {
    margin-top: 0;
  }
}
.nav-meta li {
  padding-left: 10px;
  line-height: 2.5rem;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .nav-meta li {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1024px) {
  .nav-meta li {
    padding-left: 1em;
    padding-right: 1em;
  }
}
