/**
 * Install node.js
 * use npm install less -g
 * run for compiling: lessc main.less ../main.css
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,400italic,700,700italic);
.hide-on-small {
  display: none;
}
@media screen and (min-width: 768px) {
  .hide-on-small {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .hide-on-medium {
    display: none;
  }
}
.one-by-one.aspect-ratio {
  padding-bottom: 100%;
}
.three-by-two.aspect-ratio {
  padding-bottom: 66.666%;
}
.four-by-three.aspect-ratio {
  padding-bottom: 75%;
}
.sixteen-by-nine.aspect-ratio {
  padding-bottom: 56.25%;
}
.centerer {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'iconfotoch';
  src: url('../font/iconfotoch.eot');
  src: url('../font/iconfotoch.eot?#iefix') format('embedded-openfont'), url('../font/iconfotoch.woff') format('woff'), url('../font/iconfotoch.ttf') format('truefont'), url('../font/iconfotoch.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "iconfotoch" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iconfotoch" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-camera:before {
  content: "a";
}
.icon-magnifying-glass:before {
  content: "d";
}
.icon-mail:before {
  content: "e";
}
.icon-paper-plane:before {
  content: "b";
}
.icon-pencil:before {
  content: "c";
}
.icon-phone:before {
  content: "f";
}
.icon-plus:before {
  content: "g";
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #333333;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-smooth: always;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  color: #444444;
}
h1 {
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
  font-size: 1.85rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  h1 {
    text-align: left;
  }
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  line-height: 1.7;
}
p.text-intro {
  color: #444444;
  font-family: "Roboto", sans-serif;
}
a {
  color: #01579b;
  text-decoration: none;
}
a:hover {
  color: #013b68;
  text-decoration: underline;
}
.text-intro {
  font-size: 1.125rem;
  line-height: 1.7;
}
.l-footer {
  background-color: #212121;
  height: 60px;
}
.l-footer nav ul li a {
  line-height: 60px;
  font-size: 14px;
  color: white;
}
.l-footer nav ul li a:hover {
  text-decoration: none;
  color: #b3e5fc;
}
.l-footer .copyright {
  line-height: 60px;
  color: white;
}
.l-header {
  height: auto;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  font-size: 0.855rem;
  font-weight: 500;
  height: 50px;
}
.l-header:not(.is-home) {
  background-color: #212121;
}
.l-header.is-home {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .l-header {
    height: 60px;
  }
}
.l-header .lang-switch .btn {
  font-size: 0.9rem;
  font-weight: bold;
}
.l-header .l-container {
  max-width: 1280px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .l-header .l-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.l-header a {
  color: #333333;
  text-decoration: none;
  font-weight: 500;
  outline: none;
}
.l-header a:hover,
.l-header a:focus {
  color: #b3e5fc;
}
.nav-container.right {
  float: right;
}
.headroom {
  position: fixed;
  width: 100%;
  z-index: 3;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease,-moz-transform 500ms ease,-o-transform 500ms ease,transform 500ms ease;
}
.headroom--pinned {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.headroom--top {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  padding-right: 0 !important;
}
.l-main {
  margin-top: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.l-content {
  flex-direction: column;
}
.l-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1280px;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .l-container {
    overflow: inherit;
  }
}
.l-content__main,
.l-content__aside {
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .l-content__main {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media screen and (min-width: 768px) {
  .l-content__main--home {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .l-photodetailview .l-content__aside {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    min-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .l-photodetailview .l-content__main {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}
@media screen and (min-width: 768px) {
  .no-flexbox .l-photodetailview .l-content__main,
  .no-flexbox .l-photodetailview .l-content__aside {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 768px) {
  .no-flexbox .l-searchview .l-content__main,
  .no-flexbox .l-readerview .l-content__main {
    float: left;
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .no-flexbox .l-searchview--powersearch .l-content__main {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .no-flexbox .l-content__aside.l-content__right {
    float: left;
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .l-content__aside {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
}
@media screen and (min-width: 768px) {
  .l-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .l-content__left {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
    margin-right: 10px;
  }
  .no-flexbox .l-content:before,
  .no-flexbox .l-content:after {
    content: "";
    display: table;
  }
  .no-flexbox .l-content:after {
    clear: both;
  }
  .no-flexbox .l-content:before,
  .no-flexbox .l-content:after {
    content: "";
    display: table;
  }
  .no-flexbox .l-content:after {
    clear: both;
  }
}
@media screen and (min-width: 768px) {
  .l-readerview .l-content__right,
  .l-searchview .l-content__right {
    margin-top: 5em;
  }
}
@media screen and (min-width: 768px) {
  .l-listview {
    max-width: 90%;
  }
}
.l-content--center {
  text-align: center;
}
.l-content--center h1,
.l-content--center h2,
.l-content--center h3 {
  text-align: center;
}
*:focus {
  outline: none !important;
}
body.showOverlay:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 1;
}
header:not(.is-home) + .l-main {
  margin-top: 60px;
}
h2 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}
h4 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.76);
  font-weight: normal;
}
h4 > a {
  color: rgba(0, 0, 0, 0.76);
}
h4 > a:hover {
  text-decoration: none;
}
.l-content__section {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .l-content__section {
    margin-top: 1.5	em;
  }
}
@media screen and (min-width: 1024px) {
  .l-content__section {
    margin-top: 2em;
  }
}
.l-content__right .l-content__section {
  padding: 0.5em 1em;
  background-color: #F9F9F9;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
@media screen and (min-width: 768px) {
  .l-content__right .l-content__section {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .l-content__right .l-content__section {
    margin-top: 0;
  }
}
.has-aside .l-content__main > *,
.has-aside .l-content__main * > * {
  max-width: 100% !important;
}
@media screen and (min-width: 1024px) {
  .l-readerview .l-content__main .l-content__header,
  .l-listview .l-content__main .l-content__header,
  .l-readerview .l-content__main .l-content__section,
  .l-listview .l-content__main .l-content__section {
    max-width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .l-readerview .l-content__main .l-content__section.l-content__section--meta,
  .l-listview .l-content__main .l-content__section.l-content__section--meta {
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .l-content__section.power-search--home form {
    max-width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .l-content__actions {
    padding: 0.5em 1em;
  }
}
.l-content__section.l-boxview .l-content__box {
  margin: 15px 0;
}
.l-content__section.l-boxview .l-content__box > div {
  padding: 0 0 20px;
  overflow: hidden;
}
.l-content__section.l-boxview .l-content__box > div h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}
.l-content__section.l-boxview .l-content__box > div div.box-info {
  margin-bottom: 15px;
}
.l-content__section.l-boxview .l-content__box > div div.box-item {
  margin: 0 0 5px 10px;
}
@media screen and (min-width: 1024px) {
  .l-content__section.l-boxview {
    width: 50%;
    float: left;
  }
  .l-content__section.l-boxview .l-content__box {
    padding: 0 15px;
  }
}
.l-content__section.l-boxview .l-content__box {
  margin: 15px 0;
}
.l-content__section.l-boxview .l-content__box > div {
  padding: 0 0 20px;
  overflow: hidden;
}
.l-content__section.l-boxview .l-content__box > div h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}
.l-content__section.l-boxview .l-content__box > div div.box-info {
  margin-bottom: 15px;
}
.l-content__section.l-boxview .l-content__box > div div.box-item {
  margin: 0 0 5px 10px;
}
@media screen and (min-width: 1024px) {
  .l-content__section.l-boxview {
    width: 50%;
    float: left;
  }
  .l-content__section.l-boxview .l-content__box {
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .l-content__section.l-boxview--right {
    margin-top: -2em;
  }
}
.intro-block {
  background-size: cover;
  width: 100%;
  min-height: 580px;
  position: relative;
}
.intro-block.active:before {
  background-color: rgba(0, 0, 0, 0.75);
}
.intro-block:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 300ms;
}
.intro-block * {
  position: relative;
  z-index: 2;
}
.intro-block .l-content__header {
  margin-top: 220px;
}
.intro-block h1,
.intro-block .hero--subheadline {
  color: #fff;
  text-align: left;
  margin-bottom: 0;
}
.intro-block .hero--subheadline {
  font-size: 14px;
  font-weight: 500;
}
.home-search * {
  transition: 300ms;
}
.home-search .power-search {
  position: absolute;
  width: 100%;
  top: 280px;
}
.home-search .results {
  display: none;
}
.home-search.active .hero {
  opacity: 0;
}
.home-search.active .power-search {
  top: 60px;
}
.home-search.active label {
  font-size: 11px;
  top: 8px;
}
.home-search.active .results {
  position: absolute;
  display: block;
  width: 100%;
  top: 136px;
  transition: 300ms;
}
.home-search.active .results .textual {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  max-width: 45%;
  width: 45%;
  border: 1px solid #000000;
  border-top: none;
  padding-left: 65px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  max-height: 410px;
  overflow-x: auto;
}
.home-search.active .results .textual ul {
  padding-left: 0;
}
.home-search.active .results .textual ul li {
  margin: 0;
  margin-left: -10px;
}
.home-search.active .results .textual ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.home-search.active .results .textual ul li:before {
  transition: 300ms;
  opacity: 0;
}
.home-search.active .results .textual ul li a {
  color: rgba(0, 0, 0, 0.65);
  transition: 300ms;
  padding: 5px 0 5px 10px;
  display: block;
}
.home-search.active .results .textual ul li a:hover {
  text-decoration: none;
  color: #01579b;
}
.home-search.active .results .textual h5 {
  margin-top: 20px;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.7);
  font-size: 11px;
  font-weight: 500;
  position: relative;
}
.home-search.active .results .textual h5:before,
.home-search.active .results .textual h5:after {
  content: '';
  left: -20px;
  width: 2px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.25);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  top: 4px;
}
.home-search.active .results .textual h5:after {
  transform: rotate(-45deg);
  top: 0;
}
.home-search.loading .loading-indicator {
  opacity: 1;
}
.home-search .loading-indicator {
  opacity: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 0.18rem solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  right: 20px;
  z-index: 5;
  top: 50%;
  margin-top: -9px;
}
.home-search.active .results {
  opacity: 1;
}
.home-search .imagery {
  transition: 300ms;
  width: 49%;
  max-width: 49%;
  overflow: hidden;
  right: 0;
  position: absolute;
}
.home-search .imagery ul {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 423px;
  align-content: flex-start;
}
.home-search .imagery ul li {
  vertical-align: top;
}
.home-search .imagery li {
  width: 140px;
  margin-right: 10px;
}
.home-search .imagery li:before {
  display: none;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* doesn't seem to exist
@import "layout/ie-fixes"; */
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  width: 100%;
  outline: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.l-header .btn {
  font-size: inherit;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .btn {
    width: auto;
    display: inline-block;
  }
}
a.btn {
  margin-bottom: 10px;
  text-decoration: none;
}
.btn--primary {
  margin: 10px 0;
  width: 100%;
  background-color: #01579b;
  border: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .btn--primary {
    width: auto;
  }
}
.btn--primary:hover,
.btn--primary:focus {
  background-color: #013b68;
}
.btn--secondary {
  border: 1px solid #b3e5fc;
  background-color: transparent;
  color: #b3e5fc;
}
.btn--secondary:hover,
.btn--secondary:focus {
  background-color: #b3e5fc;
  color: #ffffff;
}
.btn--link {
  width: 16.66%;
  background-color: transparent;
  border: none;
  color: #01579b;
}
@media screen and (min-width: 768px) {
  .btn--link {
    width: auto;
    padding: 0.5em;
  }
}
.btn--link:hover {
  color: #013b68;
}
@media screen and (min-width: 1024px) {
  a[href^="tel:"] {
    padding: 0;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    border: none;
    cursor: default;
  }
  a[href^="tel:"]:hover {
    background-color: transparent;
    color: #333333;
  }
}
.btn--action {
  border: 1px solid #01579b;
  color: #01579b;
}
.btn--action:hover {
  background-color: #01579b;
  color: #ffffff;
}
.form-container {
  width: 100%;
}
.l-content--center .form-container {
  margin: 0 auto;
}
.form-container .ng-invalid.ng-touched {
  border-color: #d37961;
  outline-color: #d37961;
}
.form-container .has-error .form__message {
  color: #d37961;
  font-weight: bold;
}
label {
  padding-bottom: 0.5em;
  display: block;
  width: 100%;
}
.l-content__aside label {
  display: inline-block;
  width: auto;
}
input.form-control,
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #4b585c;
  font-size: 1rem;
}
.field-autocomplete input {
  outline: none;
}
.field-autocomplete .angucomplete-dropdown {
  margin-top: -10px;
  padding: 0;
  font-size: 1rem;
  color: #333333;
  width: 100%;
}
.field-autocomplete .angucomplete-searching {
  padding: 5px;
  font-size: 1rem;
}
.field-autocomplete .angucomplete-title {
  padding: 2px 5px;
  font-size: 1rem;
  color: #333333;
}
.field-autocomplete .angucomplete-description {
  padding-left: 5px;
  color: #666666;
}
.field-autocomplete .text-match {
  color: #01579b;
}
.field-autocomplete .angucomplete-selected-row,
.field-autocomplete .angucomplete-row:hover {
  background-color: #F9F9F9;
  color: #01579b;
}
.field-autocomplete .angucomplete-selected-row .angucomplete-title,
.field-autocomplete .angucomplete-row:hover .angucomplete-title {
  color: #01579b;
}
.power-search form {
  position: relative;
}
.power-search form label {
  position: absolute;
  top: 0;
  z-index: 3;
  text-align: left;
  top: 15px;
  color: #000;
  opacity: 0.54;
  left: 65px;
  width: auto;
  padding: 0;
}
.power-search form .s-icon {
  position: absolute;
  left: 20px;
  top: 15px;
  background-image: url("../img/icons/search.svg");
  opacity: 0.26;
  width: 20px;
  height: 20px;
  z-index: 3;
}
.power-search form .power-search__input {
  padding: 16px 10px 10px 10px;
  padding-left: 65px;
  margin-bottom: 0;
  height: 50px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.power-search form .power-search__input:focus {
  background-color: #F9F9F9;
  outline: none;
}
.power-search form .power-search__button {
  width: 60px;
  font-size: 22px;
  height: 50px;
  padding: 0;
  background-color: #01579b;
  border: 0;
  color: white;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  vertical-align: middle;
}
.power-search form .power-search__button span:before {
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .power-search--half {
    width: 48%;
  }
}
.no-flexbox .power-search form {
  position: relative;
  display: block;
}
.no-flexbox .power-search form input.power-search__input {
  padding-right: 70px;
}
.no-flexbox .power-search form button.power-search__button {
  position: absolute;
  right: 0;
  top: 0;
}
.l-photo-teaser__load-more {
  display: block;
  margin: 2em auto;
  background-color: transparent;
}
.no-flexbox .l-photo-teaser__load-more {
  clear: both;
}
.lang-switch li,
.lang-switch--small li {
  list-style: none;
}
.lang-switch a,
.lang-switch--small a {
  text-transform: uppercase;
}
.lang-switch a:hover,
.lang-switch--small a:hover {
  cursor: pointer;
}
.lang-switch {
  display: none;
}
@media screen and (min-width: 768px) {
  .lang-switch {
    float: right;
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    font-size: 1.25rem;
  }
  .lang-switch .btn {
    position: relative;
    top: 11px;
    width: 50px;
    height: 36px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    background-color: #ffffff;
    z-index: 1;
  }
  .lang-switch .btn:hover,
  .lang-switch .btn:focus {
    color: #01579b;
  }
  .lang-switch ul {
    position: absolute;
    top: 10px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    -webkit-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
    opacity: 0;
  }
  .is-open.lang-switch ul {
    z-index: 1;
    opacity: 1;
  }
  .lang-switch a {
    display: block;
    width: 48px;
    line-height: 38px;
    text-align: center;
  }
  .lang-switch a:hover {
    background-color: #F9F9F9;
    color: #01579b;
  }
  .lang-switch a.is-active {
    color: #01579b;
  }
}
@media screen and (min-width: 1024px) {
  .lang-switch {
    margin-left: 1em;
  }
}
.lang-switch--small {
  height: 50px;
  border-top: 1px solid #dddddd;
}
.lang-switch--small a {
  float: left;
  display: block;
  width: 33.33%;
  height: 50px;
  text-align: center;
  border-right: 1px solid #dddddd;
}
.lang-switch--small a:last-child {
  border-right: none;
}
@media screen and (min-width: 768px) {
  .lang-switch--small {
    display: none;
  }
}
.nav-main li.lang-switch--small {
  padding-right: 0;
  padding-left: 0;
}
.l-main ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5em;
}
.l-main li {
  position: relative;
  margin-bottom: 0.5rem;
  list-style: none;
  line-height: 1.3;
}
.l-main li:before {
  content: '';
  position: absolute;
  width: 7px;
  height: 2px;
  top: 10px;
  left: -20px;
  background-color: #666666;
}
.list ul {
  padding-left: 0;
}
.list .list__item,
.list .list__item--link {
  margin-bottom: 0;
  padding: 10px 10px;
  list-style: none;
}
.list .list__item:not(:last-child),
.list .list__item--link:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}
.list .list__item:before,
.list .list__item--link:before {
  content: '';
}
.list .list__item .list__item__description,
.list .list__item--link .list__item__description {
  color: #666666;
}
.list .list__item--link {
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.list .list__item--link:hover {
  background-color: #F9F9F9;
}
.list .list__item--link a {
  outline: none;
}
.list .list__item--link a:hover {
  text-decoration: none;
}
.list .list__item--link .list__item__title {
  color: #01579b;
}
dl {
  margin-top: 1em;
  margin-bottom: 0;
}
dt {
  color: #444444;
  font-weight: bold;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  dt {
    clear: both;
    float: left;
    min-width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  dt {
    min-width: 35%;
  }
}
dd {
  margin-left: 0;
  padding-bottom: 1rem;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  dd {
    max-width: 50%;
    margin-left: 40%;
  }
}
@media screen and (min-width: 1024px) {
  dd {
    margin-left: 35%;
  }
}
dd p {
  margin-bottom: 0;
}
ul.media--partner {
  padding-left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
ul.media--partner li {
  display: inline-block;
  margin-bottom: 2em;
  padding: 0 1em;
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  ul.media--partner li {
    width: 20%;
  }
}
@media screen and (min-width: 1024px) {
  ul.media--partner li {
    width: 16.66%;
  }
}
ul.media--partner li:before {
  width: 0;
  height: 0;
}
ul.media--partner img {
  max-width: 100%;
}
.media--photo-teaser ul {
  padding-left: 0;
}
.media--photo-teaser li {
  float: left;
  position: relative;
  margin-bottom: 10px;
  padding-right: 1px;
  width: 100%;
  line-height: 0;
}
.media--photo-teaser li:before {
  background-color: transparent;
}
.media--photo-teaser li:hover .photo-teaser__description {
  opacity: 1;
}
.media--photo-teaser img {
  width: 100%;
  height: auto;
}
.media--photo-teaser .photo-teaser__description {
  transition: 300ms;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.media--photo-teaser .photo-teaser__description .l-photo-teaser__link {
  display: block;
  width: 100%;
  height: 100%;
}
.media--photo-teaser .photo-teaser__description .l-photo-teaser__link .photo-teaser__caption {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  padding: 0.5em;
  color: #ffffff;
  line-height: 1.3;
  text-overflow: ellipsis;
  overflow: hidden;
}
.l-home-teaser > div,
.l-photo-teaser > div {
  margin: 0 -0.5em;
}
.l-home-teaser > div > div,
.l-photo-teaser > div > div {
  padding: 0 0.5em;
}
.l-home-teaser > div > div .l-photo-teaser__image-container,
.l-photo-teaser > div > div .l-photo-teaser__image-container {
  position: relative;
  margin: 15px 0 5px 0;
}
.l-home-teaser > div > div .l-photo-teaser__image-container .l-photo-teaser__image,
.l-photo-teaser > div > div .l-photo-teaser__image-container .l-photo-teaser__image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.l-home-teaser > div > div .l-photo-teaser__image-container a,
.l-photo-teaser > div > div .l-photo-teaser__image-container a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font: 0/0 a;
  overflow: hidden;
}
.l-home-teaser > div > div .l-photo-teaser__title,
.l-photo-teaser > div > div .l-photo-teaser__title {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}
.l-home-teaser > div > div .l-photo-teaser__title--photographer,
.l-photo-teaser > div > div .l-photo-teaser__title--photographer {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: block;
}
.l-photo-teaser.l-photo-teaser--list > div {
  display: block;
}
.l-photo-teaser.l-photo-teaser--list > div > div {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.l-photo-teaser.l-photo-teaser--list > div > div > .l-photo-teaser__image-container {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  width: 33.3333%;
  max-width: 33.3333%;
  /* IE-fix */
}
.l-photo-teaser.l-photo-teaser--list > div > div > .l-photo-teaser__description {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 1;
  -ms-flex: 0 0 1;
  flex: 0 0 1;
  max-width: 66.6666%;
  margin: 15px 0 5px 0;
  padding: 0 20px;
}
.l-photo-teaser--home > div > div .l-photo-teaser__title {
  font-size: 100%;
}
@media screen and (min-width: 768px) {
  .l-home-teaser > div,
  .l-photo-teaser > div {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -0.5em;
  }
  .l-home-teaser > div > div,
  .l-photo-teaser > div > div {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    padding: 0 0.5em;
    width: 33.3333%;
    max-width: 33.3333%;
    /* IE-fix */
  }
  .l-photo-teaser--home > div {
    margin: 0 -1em;
  }
  .l-photo-teaser--home > div > div {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    padding: 0 1em;
    max-width: 25%;
    /* IE-fix */
  }
}
.l-photo-teaser__info-bar {
  padding: 1em 0;
  border-bottom: 1px solid #dddddd;
  margin: 1em 0;
}
.l-photo-teaser__info-bar:before,
.l-photo-teaser__info-bar:after {
  content: "";
  display: table;
}
.l-photo-teaser__info-bar:after {
  clear: both;
}
.l-photo-teaser__info-bar:before,
.l-photo-teaser__info-bar:after {
  content: "";
  display: table;
}
.l-photo-teaser__info-bar:after {
  clear: both;
}
.l-photo-teaser__info-bar a {
  background-color: #fff;
  float: right;
  margin-left: 0.5em;
  cursor: pointer;
}
.l-photo-teaser__info-bar span {
  float: left;
}
@media screen and (min-width: 768px) {
  .no-flexbox .l-photo-teaser > div > div {
    float: left;
  }
}
.l-photo__image {
  position: relative;
}
.l-photo__image .l-photo__inner-container {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font: 0/0 a;
  overflow: hidden;
}
.l-photo__image img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  display: inline-block;
}
div.fancybox-overlay {
  background-color: rgba(249, 249, 249, 0.5);
}
.logo-header {
  width: 150px;
  display: inline-block;
  height: 60px;
  padding: 0 70px 0 10px;
  background-color: #ffffff;
}
.logo-header a {
  display: block;
  background: url('../img/logo-fotoch.svg') no-repeat;
  background-position: left center;
  width: auto;
  height: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.lang-fr .logo-header a {
  background: url('../img/logo-fotoch-fr.svg') no-repeat;
}
@media screen and (min-width: 768px) {
  .logo-header {
    float: left;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
  }
}
.copyright {
  padding-right: 10px;
  padding-left: 10px;
  color: #666666;
}
@media screen and (min-width: 768px) {
  .copyright {
    float: left;
    padding-right: 0;
    padding-left: 0;
  }
}
* {
  transition: 300ms;
}
section-default,
section-raw {
  width: 100%;
}
*[ui-sref] {
  cursor: pointer;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}
/* animation on transition? */
.ui-view-container {
  position: relative;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
}
[ui-view].ng-enter-active {
  opacity: 1;
}
[ui-view].ng-leave {
  opacity: 1;
}
[ui-view].ng-leave-active {
  opacity: 0;
}
.nav-main {
  display: inline-block;
}
.nav-main ul {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease,-moz-transform 500ms ease,-o-transform 500ms ease,transform 500ms ease;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .nav-main ul {
    display: inline-block;
    position: inherit;
    width: auto;
    background-color: transparent;
    border-bottom: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.nav-main.is-open ul {
  display: block;
  top: 100%;
  border-top: 1px solid #dddddd;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.nav-main li {
  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .nav-main li {
    float: left;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.nav-main a {
  display: block;
  color: #FFF;
}
@media screen and (min-width: 768px) {
  .nav-main a {
    line-height: 58px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav-main a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.nav-main a:hover,
.nav-main a.is-active {
  position: relative;
  color: #b3e5fc;
}
header .nav-container.left {
  float: left;
}
header .nav-container.left .nav-main a.is-active {
  border-bottom: 2px solid #b3e5fc;
}
header .nav-container.right .nav-main a {
  padding: 0 .5rem;
  text-transform: uppercase;
  font-weight: 600;
  opacity: .5;
  cursor: pointer;
}
header .nav-container.right .nav-main a.is-active {
  color: #fff;
  opacity: 1;
}
.nav-main__toggle {
  position: absolute;
  right: 5px;
  top: 0px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .nav-main__toggle {
    display: none;
  }
}
.nav-main__toggle .icon-bar,
.nav-main__toggle .icon-bar:before,
.nav-main__toggle .icon-bar:after {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background-color: #01579b;
}
.nav-main__toggle .icon-bar {
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease,-moz-transform 500ms ease,-o-transform 500ms ease,transform 500ms ease;
}
.nav-main__toggle .icon-bar:before,
.nav-main__toggle .icon-bar:after {
  content: '';
  position: relative;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: -webkit-transform 500ms ease,-moz-transform 500ms ease,-o-transform 500ms ease,transform 500ms ease;
}
.nav-main__toggle .icon-bar:before {
  top: -6px;
}
.nav-main__toggle .icon-bar:after {
  bottom: -3px;
}
.is-open .nav-main__toggle .icon-bar {
  background-color: transparent;
}
.is-open .nav-main__toggle .icon-bar:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.is-open .nav-main__toggle .icon-bar:after {
  bottom: 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
a.power-search__link {
  white-space: nowrap;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
}
.nav-meta {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .nav-meta {
    float: right;
  }
}
.nav-meta ul {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav-meta ul {
    margin-top: 0;
  }
}
.nav-meta li {
  padding-left: 10px;
  line-height: 2.5rem;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .nav-meta li {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1024px) {
  .nav-meta li {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.nav-meta a:hover,
.nav-meta a.is-active {
  color: #013b68;
}
@media screen and (min-width: 768px) {
  .nav-meta a {
    color: #333333;
  }
  .nav-meta a:hover,
  .nav-meta a.is-active {
    color: #01579b;
  }
}
.panel-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.panel {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: #F9F9F9;
}
.panel .panel__headline {
  color: #01579b;
}
.l-off-canvas__toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  .l-off-canvas__toggle {
    display: block;
    position: fixed;
    top: 20%;
    right: 0;
    -webkit-transition: right 300ms ease;
    -moz-transition: right 300ms ease;
    -o-transition: right 300ms ease;
    transition: right 300ms ease;
    background-color: #01579b;
    cursor: pointer;
  }
  .l-off-canvas__toggle.active {
    right: 70%;
  }
  .l-off-canvas__toggle a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 10px;
    color: white;
    box-shadow: 0px 0px 2px 1px #dddddd;
  }
  .l-off-canvas__toggle a span {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 22px;
  }
  .l-off-canvas__box {
    right: -70%;
    width: 70%;
    position: fixed;
    top: 0;
    height: 100%;
    padding: 0;
    z-index: 20;
    -webkit-transition: right 300ms ease;
    -moz-transition: right 300ms ease;
    -o-transition: right 300ms ease;
    transition: right 300ms ease;
  }
  .l-off-canvas__box.active {
    right: 0;
    background-color: #dddddd;
  }
}
.l-readmore__text {
  display: block;
}
.l-readmore__link {
  cursor: pointer;
}
.l-loading-indicator {
  position: relative;
  height: 90px;
}
.l-loading-indicator:before,
.l-loading-indicator:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot {
  width: 10px;
  height: 10px;
  border: 2px solid #01579b;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  transform: scale(0);
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
  -webkit-animation: 300ms;
  -moz-animation: 300ms;
  -o-animation: 300ms;
  animation: 300ms;
  animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
  -webkit-animation: 600ms;
  -moz-animation: 600ms;
  -o-animation: 600ms;
  animation: 600ms;
  animation: fx 1000ms ease infinite 600ms;
}
@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.panel-group .panel {
  width: 100%;
  padding: 10px 0 0 0;
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 0;
}
.panel-group .panel.panel-open {
  box-shadow: none;
}
.panel-group .panel.panel-open .panel-heading:before {
  right: 21px;
}
.panel-group .panel.panel-open .panel-heading:after {
  right: 14px;
}
.panel-group .panel .panel-body {
  padding: 10px 0;
}
.panel-group .panel .panel-body p {
  font-size: 15px;
}
.panel-group .panel > .panel-heading {
  padding: 0;
  background: transparent;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #dddddd;
}
.panel-group .panel > .panel-heading .panel-title a span {
  font-size: 16px;
}
.panel-group .panel > .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}
.panel-group .panel > .panel-heading:hover .panel-title a {
  color: #01579b;
}
.panel-group .panel > .panel-heading:hover:after,
.panel-group .panel > .panel-heading:hover:before {
  background-color: #01579b;
}
.panel-group .panel > .panel-heading:after,
.panel-group .panel > .panel-heading:before {
  transition: 300ms;
  content: '';
  position: absolute;
  right: 14px;
  top: 10px;
  width: 2px;
  height: 11px;
  background-color: #c4c4c4;
}
.panel-group .panel > .panel-heading:after {
  transform: rotate(-45deg);
  right: 21px;
  top: 9px;
}
.panel-group .panel > .panel-heading:before {
  transform: rotate(45deg);
}
.panel-group .panel > .panel-heading a {
  display: block;
  font-size: 20px;
  font-weight: lighter;
}
.panel-group .panel > .panel-heading a:focus,
.panel-group .panel > .panel-heading a:hover {
  text-decoration: none;
}
.panel-group .panel .panel-body * > * {
  margin-top: 0;
}
.typetable .filter-bar {
  position: fixed;
  width: 100%;
  top: 60px;
  height: 60px;
  background-color: #eeeeee;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.24);
  z-index: 20;
}
.typetable .filter-bar.loading .s-icon {
  opacity: 0;
}
.typetable .filter-bar.loading .loading-indicator {
  opacity: 1;
}
.typetable .filter-bar .textsearch.active label[for="textsearch"] {
  top: 14px;
  font-size: 11px;
}
.typetable .filter-bar .l-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.typetable .filter-bar input[type="text"] {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  height: 60px;
  padding: 14px 0 6px 55px;
}
.typetable .filter-bar label[for="textsearch"] {
  transition: 300ms;
  position: absolute;
  left: 0;
  padding-left: 55px;
  top: 20px;
  z-index: 4;
  cursor: pointer;
}
.typetable .filter-bar .s-icon {
  transition: 300ms;
  position: absolute;
  left: 20px;
  top: 20px;
  background-image: url("../img/icons/search.svg");
  opacity: 0.26;
  width: 18px;
  height: 18px;
  background-size: 100%;
  z-index: 3;
}
.typetable .filter-bar .loading-indicator {
  opacity: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 0.18rem solid rgba(0, 0, 0, 0.2);
  border-top-color: black;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  left: 20px;
  z-index: 5;
  top: 50%;
  margin-top: -11px;
}
.typetable .filter-bar .textsearch {
  width: 50%;
  position: relative;
}
.typetable .filter-bar a.reset {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
}
.typetable .filter-bar a.reset:hover:before,
.typetable .filter-bar a.reset:hover:after {
  background-color: #01579b;
}
.typetable .filter-bar a.reset:before,
.typetable .filter-bar a.reset:after {
  pointer-events: none;
  transition: 300ms;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  content: '';
  display: block;
  width: 2px;
  height: 16px;
  background-color: #848484;
}
.typetable .filter-bar a.reset:before {
  transform: rotate(45deg);
}
.typetable .filter-bar a.reset:after {
  transform: rotate(-45deg);
}
.typetable .table {
  margin-top: 60px;
}
.typetable .table table {
  width: 100%;
}
.typetable .table table tbody tr {
  transition: 200ms;
}
.typetable .table table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.typetable .table table tr th {
  height: 60px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
  text-align: left;
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
}
.typetable .table table tr th.sort-active.asc:after {
  transform: rotate(-180deg);
}
.typetable .table table tr th.sort-active:after {
  transition: 400ms;
  position: relative;
  left: 10px;
  top: -2px;
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
}
.typetable .table table tr td {
  word-break: break-word;
  padding: 0 10px;
  height: 50px;
  border-bottom: 1px solid rgba(141, 141, 141, 0.2);
}
.typetable .nobreak {
  white-space: nowrap;
  word-break: normal;
}
.typetable .cropped {
  position: relative;
  white-space: nowrap;
}
.typetable .cropped:hover ul {
  display: block;
  opacity: 1;
  z-index: 20;
}
.typetable .cropped:after {
  display: inline-block;
  content: ", ...";
}
.typetable .cropped ul {
  transition: 200ms;
  opacity: 0;
  display: none;
  position: absolute;
  top: 25px;
  background-color: #eee;
  border: 1px solid #e3e3e3;
  padding: 10px 20px;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.24);
}
.typetable .cropped ul li {
  white-space: nowrap;
  word-break: normal;
}
.typetable .cropped ul li:before {
  display: none;
}
.typetable .cropped ul li:last-child {
  margin-bottom: 0;
}
.typetable .grid {
  column-count: 4;
  column-gap: 20px;
  margin-top: 80px;
}
.typetable .grid > div {
  display: inline-block;
  margin: 0 0 20px;
  width: 100%;
}
.typetable .grid > div img {
  max-width: 100%;
}
.modal {
  transition: 300ms;
}
.modal .modal-header,
.modal .modal-body {
  display: flex;
  flex-wrap: wrap;
}
.modal .left {
  flex-basis: 70%;
  min-width: 70%;
  margin-right: 30px;
}
.modal .right {
  width: 25%;
}
.modal .full {
  min-width: 100%;
}
.modal .full .media--photo-teaser > ul {
  column-count: 4;
  column-gap: 20px;
  margin-top: 80px;
}
.modal .full .media--photo-teaser > ul li {
  display: inline-block;
  margin: 0 0 20px;
  width: 100%;
}
.modal .full .media--photo-teaser > ul li img {
  max-width: 100%;
}
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-open .modal .modal-content {
  padding: 30px 40px;
  border-radius: 3px;
}
.modal-open .modal .modal-dialog {
  margin-top: 120px;
}
.modal-open .modal .modal-lg {
  width: 95%;
  max-width: 1180px;
}
.modal-open .modal .modal-header {
  position: relative;
  border-bottom: none;
}
.modal-open .modal .modal-header h1 {
  font-size: 30px;
  line-height: inherit;
  margin: 0;
}
.modal-open .modal .modal-header h4 {
  font-size: 14px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.modal-open .modal .modal-header button {
  background: transparent;
  text-indent: 300px;
  overflow: hidden;
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;
}
.modal-open .modal .modal-header button:hover:before,
.modal-open .modal .modal-header button:hover:after {
  background-color: #01579b;
}
.modal-open .modal .modal-header button:hover:before {
  transform: rotate(135deg);
}
.modal-open .modal .modal-header button:hover:after {
  transform: rotate(-135deg);
}
.modal-open .modal .modal-header button:before,
.modal-open .modal .modal-header button:after {
  transition: 300ms;
  content: "";
  display: block;
  height: 25px;
  width: 3px;
  background-color: #bfbfbf;
  position: absolute;
  right: 30px;
  top: 20px;
}
.modal-open .modal .modal-header button:before {
  transform: rotate(45deg);
}
.modal-open .modal .modal-header button:after {
  transform: rotate(-45deg);
}
.modal-open .modal .modal-body {
  display: flex;
}
.modal-open .modal .modal-footer {
  border-top: none;
}
ul.nav-tabs {
  padding-left: 0px;
}
ul.nav-tabs li {
  border: none;
  margin-bottom: 0;
  margin-right: 30px;
}
ul.nav-tabs li:hover,
ul.nav-tabs li:focus {
  border: none;
  background-color: transparent;
}
ul.nav-tabs li.active {
  border-bottom: 2px solid #01579b;
}
ul.nav-tabs li.active a {
  color: #01579b;
  border: none;
}
ul.nav-tabs li.active a:hover,
ul.nav-tabs li.active a:focus {
  background-color: transparent;
  border: none;
  color: #01579b;
  animation: none;
}
ul.nav-tabs li:before {
  display: none;
}
ul.nav-tabs li a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  padding: 15px 0;
  margin: 0;
}
ul.nav-tabs li a:hover,
ul.nav-tabs li a:focus {
  border: none;
  background-color: transparent;
  animation: none;
}
.tab-pane {
  margin-top: 30px;
}
.photographer-block h4 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
  padding-right: 30px;
  margin-bottom: 15px;
  position: relative;
}
.photographer-block h4 > span {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-size: 100%;
  top: 0;
}
.photographer-block h4 > span.gender-m {
  background-image: url("../img/icons/gender-male.svg");
}
.photographer-block h4 > span.gender-f {
  background-image: url("../img/icons/gender-female.svg");
}
.photographer-block small {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.photographer-teaser {
  margin: 60px 0;
}
.photographer-teaser .flex > div {
  min-width: 200px;
}
.big-numbers {
  padding: 100px 0;
  background-color: #f0f0f0;
}
.photogrid {
  max-height: 800px;
  overflow: hidden;
}
.photogrid .grid {
  column-count: 5;
  column-gap: 0;
  column-width: 20%;
}
.photogrid .grid img {
  display: inline-block;
  width: 100%;
}
.count-up-number span {
  display: block;
}
.count-up-number span.number {
  font-size: 58px;
  color: #333333;
  font-weight: 500;
}
.count-up-number span.label {
  text-align: left;
  font-size: 18px;
  color: #333333;
  padding: 0;
  font-weight: 400;
}
