<h1>Suche nach Fotografen</h1>
<p class="text-intro">
	Durchsuchen Sie das biografische Lexikon der Fotografinnen und Fotografen.
</p>

<form action="" novalidate>
	<label for="fotographer">Fotograf</label>
	<input type="text" name="fotographer">
	<button type="submit" class="btn-primary">Suchen</button>
</form>

{{debug}}


<div class="row">
        <a  ng-repeat="c in abc" ui-sref="fotograf( {anf: '{{c}}'} )">{{c}} &nbsp; </a>
    </div>


<div class="l-container">


    <div class="row" ng-if="detail==null" ng-repeat="t in list.res">
		<a class="{{t.bioclass}}" ui-sref="fotograf( {id: '{{t.id}}', anf: ''} )">{{t.nachname}} {{t.vorname}} {{t.namenszusatz}}</a> <span ng-bind-html="t.fldatum | rawHtml"></span>
    </div>
    
    <div class="row" ng-if="detail!=null">
    	<div class="row" ng-repeat="n in detail.namen">
		<h2>{{n.nachname}} {{n.vorname}} {{n.namenszusatz}}</h2>
		</div>
		<st-field-raw label="spr.lebensdaten" value="detail.fldatum"></st-field-raw>
		
		<st-field label="spr.heimatort" value="detail.heimatort"></st-field>

		<st-field label="spr.beruf" value="detail.beruf"></st-field>
		<st-field label="spr.fotografengattungen" value="detail.fotografengattungen"></st-field>
		<st-field label="spr.bildgattungen" value="detail.bildgattungen"></st-field>

		<div class="row" ng-repeat="a in detail.arbeitsperioden">
			<st-field label="a.arbeitsort" value="a.um_vonf+a.von+ (a.um_vonf+a.von+a.um_bisf+a.bis!=''?' - ':' ')+a.um_bisf+a.bis"></st-field>
		</div> 
		
		<st-field-raw label="spr.biografie" value="detail.biografie"></st-field-raw>		
		<st-field-raw label="spr.werdegang" value="detail.werdegang"></st-field-raw>
		<st-field-raw label="spr.schaffensbeschrieb" value="detail.schaffensbeschrieb"></st-field-raw>
		<st-field-raw label="spr.auszeichnungen_und_stipendien" value="detail.auszeichnungen_und_stipendien"></st-field-raw>
		
		<div class="row" ng-repeat="b in detail.bestaende">
		<h4>{{b.Bestand}}</h4>{{b.name}} {{b.inst_name}} {{n.zeitraum}}
		</div>

		
		<div class="row" ng-repeat="l in detail.literatur">
			<st-field label="l.Literatur" value="l.text"></st-field>
		</div>

		<div class="row" ng-repeat="aus in detail.ausstellungen">
			<st-field label="aus.Ausstellung" value="aus.text"></st-field>
		</div>
		
		<st-field label="spr.kantone" value="detail.kantone"></st-field>
		<st-field-raw label="PND" value="detail.GND"></st-field-raw>
		<st-field label="spr.notiz" value="detail.notiz"></st-field>
		<st-field label="spr.npublizieren" value="detail.npublizieren"></st-field>

		<st-field label="spr.autorIn" value="detail.autorIn"></st-field>
		<st-field label="spr.bearbeitungsdatum" value="detail.fbearbeitungsdatum"></st-field>

    </div>
  
		
</div>
<!-- /.container -->

