.feedback {
   position: absolute;
   top: 30%;
   right: 0;
   background-color: #ddd;
}
#feedback_button {
   display: block;
   position: absolute;
   top: 103px;
   right: -103px;
   width: 220px;
   padding: 10px;
   margin: 0;
   background-color: #444;
   color: #ddd;
   text-decoration: none;
   text-transform: uppercase;
   cursor: pointer;
   text-align: center;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   transform: rotate(90deg);
}
.feedback .form {
   display: block;
   width: 500px;
   height: 200px;
   margin-right: 38px;
   padding: 20px;
   background-color: #ddd;
}
.feedback .form.fadeOut {
   display: none;
}
.feedback .form .status {
   display: none;
}
.feedback .form .status.fadeIn {
   display: block;
}
.feedback input, .feedback textarea {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: none;
   color: #444;
   font-family: Arial, sans-serif;
   font-size: 1rem;
}
.feedback input.inactive, .feedback textarea.inactive {
   display: none;
}
.feedback input {
   min-height: 30px;
}
.feedback textarea {
   min-height: 100px;
}
.feedback input[type=submit] {
   background-color: #444;
   color: #ddd;
   cursor: pointer;
}
.feedback input[type=submit]:hover {
   color: white;
}
.feedback .status {
   padding: 85px 0;
   background-color: #8EBD99;
   color: white;
   text-align: center;
   font-size: 1.5rem;
}