/* CSS Document */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;

}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*  --------------------------     ******************************      --------------------------------- */
/*  --------------------------     CONTAINER FOR SITE, CENTERED    --------------------------------- */
/*  --------------------------     ******************************      --------------------------------- */
#container {
	text-align:left;
	margin: 0 auto;
	position:relative;
	width:1022px;
    min-height: 100%;
}
/*  --------------------------     ******************************      --------------------------------- */
/*  --------------------------     HEADER ELEMENTS  NESTED  --------------------------------- */
/*  --------------------------     ******************************      --------------------------------- */
#header {
	float:left;
	/*width:27.7cm;*/	
	width:1021px;
	color:#DDDDDD;
	page-break-after:avoid;
}
#header ul{
	list-style-type:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
#header li{
	list-style-type:none;
	float:left;
	width:142px;
	margin:0px 4px 0px 0px;
	background-color:#444444;
}
#top_header{
	/*width:27.6cm;*/
	width:1022px;
	/*height:0.6cm;*/
	height:23px;
	text-indent:5px;
}
#top_header li{
	/*height:0.55cm;*/
	height:21px;
	line-height:21px;
    font-size: 20px;
    font-weight: bold;
}
#top_header a, a:visited {
	color:#DDDDDD;
}
#img_header{
	width:1022px;
	height:87px;
	margin-top:1px;
}
#img_header p {
	text-indent:5px;
    line-height:21px;
    font-size: 20px;
    font-weight: bold;
}
#img_header li{
	height:85px;
	padding:0px;
}
#img_header img.image {
	width:100%;
	height:100%;
	border:0px;
	margin:0px;
	padding:0px;
	vertical-align:middle;
}
#navi_header{
	width:1022px;
	/*height:1cm;*/
	height:38px;
	margin-top:1px; /*f�r safari nur 2px!!!*/
	text-indent:5px;
}
#navi_header li{
	line-height:35px;
	height:35px;
}
#navi_header li.selected, #navi_header li:hover {
    background-color: #dddddd;
}
#navi_header a, a:visited {
	display: block;
    color:#DDDDDD;
}
#navi_header li.selected a, #navi_header li:hover a {
    color: #444444;
}
/*  --------------------------    SUBNAVIGATION IN HEADER     --------------------------------- */
#sub_navi {
	text-indent:5px;
	margin-top:5px;
	width:1018px;
	color:#444444;
	page-break-after:avoid;
}
#sub_navi a, a:visited {
	color:#0000FF;
}
/*  --------------------------     WRAPPER FOR THE STICKY FOOTER    --------------------------------- */
#wrapper {
    padding-top: 10px;
    padding-bottom: 39px;
    overflow: auto;
}
/*  --------------------------     ******************************      --------------------------------- */
/*  --------------------------     CONTENT CONTAINERS FOR DIFFERENT ALIGNMENTS   --------------------------------- */
/*  --------------------------     ******************************      --------------------------------- */
#content_container {
	float:left;
    margin-top:5px;
	width:1017px;
	page-break-inside:auto;
}
/*  --------------------------     CONTENT CONTAINER FOR HOME    --------------------------------- */
#content_left {
    float: left;
	margin-left:6px;
	width:573px;
}
#right {
    float: right;
    width: 300px;
}
#right .photo_container a {
    display: block;
    float: left;
    width: 98px;
    margin-right: 2px;
    text-align: center;
}
#right .photo_container img {
    max-width: 98px;
    max-height: 70px;
    margin: 0 auto;
}
#content_image {
	width:700px;
    height:140px;
    overflow:hidden;
	position:relative;
}

#content_image div {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:10px;
    background:none;
    text-align:left
}

/*  --------------------------     CONTENT CONTAINER FOR SEARCH    --------------------------------- */
#searchdiv {
	margin-left:6px;
	margin-top:20px;
	float:left;
	width:427px;
}
#list {
	margin-left:4px;
	margin-top:20px;
	float:right;
	width:572px;
}
.fotos #list {
    float: none;
    clear: both;
    width: 100%;
    border-top: 1px solid #444444;
}
.fotos .list_view {
    table-layout: fixed;
}
.fotos .list_view .list_title {
    width: auto;
}
.fotos .list_view td.list_period {
    width: 80px;
}
.fotos .list_view thead td {
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    border-top: none;
}
.fotos .list_view tbody tr:hover {
    background-color: #dddddd;
}
.fotos .list_view td {
    width: 110px;
    height: 110px;
    padding-right: 15px;
    border-top: 1px solid #dddddd;
    vertical-align: middle;
}
.fotos .list_view td a {
    max-height: 100px;
}
.fotos .list_view tbody td:first-child a {
    display: block;
    text-align: center;
}
.fotos .list_view tbody img {
    max-width: 100px;
    max-height: 100px;
}
.fotos .info {
    margin-bottom: 15px;
}
.fotos .switch_view {
    float: right;
}
.fotos .tile_view {
    width: 990px;
    margin: 0 auto;
}
.fotos .tile {
    width: 16.65%;
    float: left;
}
.fotos .tile .image_container {
    display: table-cell;
    width: 155px;
    height: 155px;
    vertical-align: middle;
}
.fotos .tile img {
    max-width: 155px;
    max-height: 155px;
}
.fotos .tile a {
    padding: 5px;
    display: block;
}
.fotos .tile a:hover {
    background: #dddddd;
}
.fotos .tile figure {
    height: 220px;
    text-align: center;
}
.fotos .tile .title {
    display: block;
    color: blue;
}
figure {
    margin: 0;
}
.fotos .item_details img {
    max-width: 573px;
    max-height: 573px;
}

/*  --------------------------     CONTENT CONTAINER FOR HANDBUCH, KONTAKT, IMPRESSUM, PARTNER, SITEMAP    --------------------------------- */
#content_items {
	float:left;
	width:140px;
	margin-left:6px;
}
#content_items ul {
	margin:3px 0px 3px 0px;
	padding:0;
}
#content_items li {
	list-style-type:none;
	margin:3px 0px 0px 10px;
	padding:0;
}
#content_data{
	float:right;
	margin-top:40px;
	width:433px;
	margin-right:435px;
}
#content_data ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
#content_data li{
	padding:0px;
	margin:0px 0px 0px 0px;
}
/*  --------------------------     ******************************      --------------------------------- */
/*  --------------------------     FOOTER ELEMENTS    --------------------------------- */
/*  --------------------------     ******************************      --------------------------------- */
#footer {
    position: relative;
    clear: both;
	margin:-39px auto 0 auto;
    padding: 10px;
	width:999px;
	height:19px;
    background-color: #444444;
	color:#DDDDDD;
}
#footer a {
	color:#DDDDDD;
}
#footer a:hover {
    color: blue;
}
#footer ul {
	list-style-type:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	
}
#footer li {
	float:left;
	margin:0px 4px 0px 0px;
	text-indent:5px;
	width:140px;
	height:15px;
	background-color:#444444;
	border:1px solid #444444;
}
#footer .publisher {
    float: left;
}
#footer .changelanguage {
    float: right;
}
/*  --------------------------     ******************************      --------------------------------- */
/*  --------------------------          GENERAL BODY ELEMENTS          --------------------------------- */
/*  --------------------------     ******************************      --------------------------------- */
img {
	border:0px;
	margin:0px;
	padding:0px;
}
h1 {
	font-size:15px;
}
h2 {
	font-size:13px;
}
h3 {
	font-size:11px;
}
a, a:visited {
	text-decoration:none;
	color:blue;
}
a.handbuch {
	font-size:inherit;
	color:inherit;
	text-decoration:inherit;
}
/* ----------------------     INPUT-ELEMENTS    ------------------------------- */
/* damits auch im IE klappt: anstelle von input[type=text] etc... */
input {
	font-family:Arial, Helvetica, sans-serif;
}
.checkboxwrapper{
	width:140px;
	float:left;
	position: relative;
	top: -4px;
	
}
input.text, input.text {
	border:0px;
	background-color:#DDDDDD;
	width:99%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
input.submit,input.submit {
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#DDDDDD;
	border:0px;	
	width:80px;
	float:right;
	margin-right:2px;
}
input.text_edit {
	width:350px;
	border:1px solid white;
}
input.text_editd {
	width:100px;
	border:1px solid white;
}
/* javascript inputs in edit */
input.jsearch {
	width:300px;
	border:1px solid white;
}
input.jindex{
	width:100px;
	border:1px solid white;
}
input.jsubmit {
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	/*width:80px;*/
}
/* javascript inputs in search */
input.search_jsearch {
	width:200px;
	border:1px solid #CCCCCC;
}
input.search_jindex{
	width:80px;
	border:1px solid #CCCCCC;
}
input.search_jsubmit {
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	width:80px;
	background-color:#CCCCCC;
	border:1px solid #CCCCCC;
}
select.select{
	width:99%;
	background-color:#DDDDDD;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border:0px;
}
select.edit{
}
option.edit{
}
textarea.inputtext {
	width:99%;
	background-color:#DDDDDD;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border:0px;
	resize:none;
}
textarea.text_edit {
	width:90%;	
	height:170px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border:0px;
	resize:none;
}
/*for safari: textarea: resize:none*/
/* ----------------------     TABLE-ELEMENTS    ------------------------------- */
table {
    font-size: 14px;
}
table.search {
	width:90%;
	margin:0px;
	padding:0px;
}
table.search td.search {
	width:136px;
	vertical-align:top;
}
table.search  td.search_submit1{
	vertical-align:top;
}
table.list_results {
	margin:0px;
	padding:0px;
	width:100%;
	border-spacing:0px 0px;
}
table.list_results td.title_width {
	width:295px;
}
table.item_details {
	width: 100%;
	margin:0px;
	padding:0px;
	border-spacing:0px 0px;
}
table.item_details td.detail_label {
	width: 138px;
	vertical-align:top;
}
table.item_details td.detail_item {
	vertical-align:top;
}
table.edit {
	width: 90%;
	border:1px dashed #FFFFFF;
	margin-left:4em;
	border-spacing:1px 1px;
}
table.edit td.edit {
	width:210px;
	vertical-align:top;
}
table.login {
	border:0px;
	width:60%;
}
table.login td.login_label {
	width:137px;
	vertical-align:top;
}
table.partner{
	width:500px;
	border:0px;
}
table.editpages {
	width:100%;
	border:0px;
}
/* ----------------------     FIELDSET etc.    ------------------------------- */
fieldset.search {
	margin:0px;
	padding:0px;
	border:0px;
}
fieldset.edit {
	margin:0px;
	padding:0px;
	border:0px;
	background-color:#EEEEEE;
}
fieldset.login{
	margin:0px;
	padding:0px;
	border:0px;
}
fieldset.checkbox_set{
	margin:0px;
	padding:0px;
	border:2px dotted #FFFFFF;
	width:90%;
	display:block;
}
/* ----------------------     LABELS FOR FIELDSET etc.    ------------------------------- */
label.edit {
}
/* ----------------------     SPAN-ELEMENTS (FOTOBE, ALT)   ------------------------------- */
SPAN, P {
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
	text-decoration : none; 
	font-size: 14px;
	color: black;
}
P.header {
	color:#DDDDDD;
}
#container SPAN.subtitle2
{
font-size: 14px;
font-weight: normal; 
color: #000000;
}
#container SPAN.subtitle3
{
font-size: 14px;
font-weight: normal; 
color: #000000; 
}
#container SPAN.subtitle3x
{
font-size: 14px;
font-weight: normal; 
color: #cc2222;
}
#container SPAN.subtitle3biox
{
font-size: 14px;
font-weight: normal; 
color: #cc2222;
}
#container SPAN.subtitle3kbiox
{
font-size: 14px;
font-weight: normal; 
color: #cc2222;
font-style: italic;
text-decoration:underline;
}
#container SPAN.subtitle3x a
{
font-size: 14px;
font-weight: normal;
color: #cc2222;
}
#container SPAN.subtitle3biox a
{
font-size: 14px;
font-weight: normal;
color: #cc2222;
text-decoration:underline;
}
#container SPAN.subtitle3kbiox a
{
font-size: 14px;
font-weight: normal;
color: #cc2222;
font-style: italic;
}

#container SPAN.subtitle3g
{
font-size: 14px;
font-weight: normal; 
color: #cc2222; 
}
#container SPAN.subtitle3g a
{
font-size: 14px;
font-weight: normal; 
color: #cc2222; 
}
#container SPAN.subtitle3bio
{
font-size: 14px;
font-weight: normal; 
color: #000000; 
}
#container SPAN.subtitle3kbio
{
font-size: 14px;
font-weight: normal; 
color: #000000;
font-style: italic;
}

A.subtitle3bio {text-decoration:underline;}
A.subtitle3biox {text-decoration:underline;}
A.subtitle3kbio {text-decoration:underline;  font-style: italic; }
A.subtitle3kbiox {text-decoration:underline;  font-style: italic; } 
SPAN.subtitle4 
{
font-size: 14px;
font-weight: normal; 
color: #4C748B; 
}
SPAN.path
{
font-size: 14px;
color: #333333;
}
SPAN.index
{
font-size: 14px;
color: #333333;
}
SPAN.date
{
font-size: 14px; font-weight: normal;
color: #000000;
}
SPAN.date2
{
font-size: 14px; font-weight: normal;
color: #598F94;
}
SPAN.time
{
font-size: 14px; font-weight: normal;
color: #000000;
}
SPAN.ipi1 
{ 
font-size: 14px; font-weight: normal;
color: #336666; 
} 
SPAN.ipi2
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 14px;
color: #152056;
}
SPAN.text1
{ 
font-size: 14px;
color: #333333; 
}
SPAN.text2
{ 
font-size: 14px;
color: #000000;
word-wrap:break-word;
}
SPAN.text2g
{ 
font-size: 14px;
color: #cc2222; 
}
SPAN.text2g a
{ 
font-size: 14px;
color: #cc2222; 
}
SPAN.edittitle
{ 
color: #000000; 
}
SPAN.edittitleg
{ 
color: #cc2222; 
}
SPAN.news2
{
font-family : Arial, Helvetica, sans-serif;
font-style : normal;
text-decoration : none; 
font-size: 14px;
color: #333333;
width : 575px;
}
SPAN.bottom
{  
font-size: 14px;
color: #FFFFFF; 
}
SPAN.contact
{
font-size: 14px;
color: #333333;
}
span.hidden a  		{color:#ffffff;text-decoration: none; }
span.hidden a:visited  	{color:#ffffff;}
span.hidden a:active  	{color:#ffffff;}
span.hidden a:hover   	{color:#ffffff;}