<div class="l-content l-readerview">
	<div class="l-content__main l-view--reader">
		<div class="l-content__header">
			<h1>{{detail.titel}}</h1>
			<div ng-if="detail.jahr || detail.ort || detail.institution">
				<span ng-if="detail.jahr"><strong>{{translations.jahr}}:</strong> {{detail.jahr}}</span> 
				<span ng-if="detail.jahr && (detail.ort || detail.institution)"> | </span>
				<span ng-if="detail.ort"><strong>{{translations.ort}}:</strong> {{detail.ort}}</span>
				<span ng-if="detail.ort && detail.institution"> | </span>
				<span ng-if="detail.institution"><strong>{{translations.institution}}:</strong> {{detail.institution}}</span>
			</div>
		</div>
		<photographer-reference headline="translations.fotographInnen" photographer="detail.photographer"></photographer-reference>
	</div>

	<aside class="l-content__aside l-content__right">
		<editing-info labels="translations" date="detail.bearbeitungsdatum" author="detail.autorIn"></editing-info>
		<div class="l-content__actions">
			<a class="btn btn--action" ui-sref="contact">{{translations.proposal_for_improvements}}</a>
		</div>
	</aside>
</div>