<div class="l-content l-readerview">
	<div class="l-content__main l-view--reader">
		<div class="l-content__header">
			<h1>{{detail.text}}</h1>
		</div>
		<photographer-reference headline="spr.fotographInnen" photographer="detail.photographer"></photographer-reference>
	</div>

	<aside class="l-content__aside l-content__right">
		<div class="l-content__section" ng-if="detail.bearbeitungsdatum">
			<h2>{{spr.bearbeitungsdatum}}</h2>
			<p>{{detail.bearbeitungsdatum}} <span ng-if="detail.autorIn">{{spr.von}} {{detail.autorIn}}</span></p>
		</div>
		<div class="l-content__actions">
			<a class="btn btn--action" ui-sref="contact">{{spr.proposal_for_improvements}}</a>
		</div>
	</aside>
</div>