<div class="l-content l-listview">
	<div class="l-content__main">
		<div class="l-content__header">
			<h1>{{spr.ausstellungen}}</h1>

			<form class="form-container" action="" novalidate ng-submit="enterFunc()">
				<div angucomplete-alt 
				id="exhibition-autocomplete"
				class="field-autocomplete"
				placeholder="{{spr.suche}} {{spr.ausstellungen}}"
				pause="100"
				selected-object="exhibitionSelected"
				remote-url="https://www2.foto-ch.ch/api/itas.php?s="
				minlength="1"
				title-field="name"
				description-field="ort"
				match-class="text-match"
				input-class="form-control">
				</div>
			</form>
		</div>
		<div class="l-content__section">
			<div class="link-list">
				<ul>
					<li ng-repeat="e in list.res" ui-sref="exhibitionDetail( {id: '{{e.id}}', anf: ''} )">
						<div class="link-list__title">
							{{e.titel}}
						</div>
						<div class="link-list__description">
							<span ng-if="e.institution"><strong>{{spr.institution}}:</strong> {{e.institution}}</span> 
							<span ng-if="(e.institution && e.ort) || (e.institution && e.jahr)"> | </span>
							<span ng-if="e.ort"><strong>{{spr.ort}}:</strong> {{e.ort}}</span>
							<span ng-if="e.ort && e.jahr"> | </span>
							<span ng-if="e.ort"><strong>{{spr.jahr}}: </strong> {{e.jahr}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<aside class="l-content__aside l-content__right">
		<h2>{{spr.kategorien}}</h2>
		<button type="button" class="btn btn--action" ng-repeat="initial in abc" ui-sref="exhibition( {anf: '{{initial}}'} )">{{initial}}</button>
	</aside>
</div>