.l-header {
	height: auto;
	position: relative;
	&:not(.is-home) {
		background-color: #212121;
	}
	font-size: 0.855rem;
	font-weight: 500;
	height: @headerHeightSmall;
	@media @layoutMedium {
		height: @headerHeightMedium;
	}
	.lang-switch .btn {
		font-size: 0.9rem;
		font-weight: bold;
	}
	.l-container {
		max-width: @layoutMaxWidth;
		padding: 0;
		@media @layoutMedium {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	a {
		color: @colorText;
		text-decoration: none;
		font-weight: 500;
		outline: none;
		&:hover,
		&:focus {
			color: @colorActionSecondary;
		}
	}
}

.nav-container {
	&.right {
		float: right;
	}
}

// We're using headroom.js to show the header once the user scrolls up
.headroom {
	position: fixed;
	width: 100%;
	z-index: 3;
	.transition(transform @transitionDuration @transitionFunction);
}

.headroom--pinned {
	.transform(translateY(0%));
}

.headroom--unpinned {
	.transform(translateY(-100%));
}

.headroom--top {
	.box-shadow(none);
}