// Apply a natural box layout model to all elements
*, *:before, *:after {
	.box-sizing(border-box);
}

// Sticky Footer with Flexbox
html {
    font-size: 16px;
}
body {
	position: relative;
	.display(flex);
	.flex-direction(column);
	min-height: 100vh;
    padding-right: 0 !important;
}
.l-main {
	margin-top: 0;
	.flex(1 0 auto);
}

.l-content {
    flex-direction: column;
}

a {
    cursor: pointer;
}

// Define overall layout
.l-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: @layoutMaxWidth;
    width: 100%;
	overflow: hidden;		// Long URLs shall be cut on mobile
	@media @layoutMedium {
		overflow: inherit;
	}
}
.l-content__main,
.l-content__aside {
	padding: 10px;
}

.l-content__main {
	@media @layoutMedium {
		.flex(1);
	}
	@media @layoutLarge {
	}
}

.l-content__main--home{
  @media @layoutMedium{
  text-align: center;
}
}

.l-photodetailview .l-content__aside{
  @media @layoutMedium {
    .flex(1 1 50%);
    min-width: 50%;
  }
}
.l-photodetailview .l-content__main{
  @media @layoutMedium {
    .flex(0 1 50%);
  }
}

// IE9-fix
.no-flexbox .l-photodetailview .l-content__main,
.no-flexbox .l-photodetailview .l-content__aside{
  @media @layoutMedium {
    width: 50%;
    float: left;
  }
}

// IE9-fix
.no-flexbox .l-searchview .l-content__main,
.no-flexbox .l-readerview .l-content__main{
  @media @layoutMedium {
    float: left;
    width: 70%;
  }
}
.no-flexbox .l-searchview--powersearch .l-content__main{
  @media @layoutMedium {
    width: 100%;
  }
}
.no-flexbox .l-content__aside.l-content__right{
  @media @layoutMedium {
    float: left;
    width: 30%;
  }
}

.l-content__aside {
	@media @layoutMedium {
		margin-top: 0;
		margin-bottom: 0;
		.flex(0 0 30%);
	}
}

@media @layoutMedium {
	.l-content {
		.display(flex);
		.flex(1);
	}
	.l-content__left {
		.order(-1);
		margin-right: 10px;
	}

    // IE9-fix
    .no-flexbox .l-content{
        .clearfix();
    }
}

// Reader view (e.g. used for fotographer details)
@media @layoutMedium {
	.l-readerview .l-content__right,
	.l-searchview .l-content__right
    {
		margin-top: 5em;
	}	
}

// List view (e.g. used)
.l-listview {
	@media @layoutMedium {
		max-width: 90%;
	}
}

// Centered layouts (e.g. login page)
.l-content--center {
	text-align: center;
	h1,
	h2,
	h3 {
		text-align: center;
	}
}

*:focus {
    outline: none !important;
}

// Show overlay if mobile menu is open
body.showOverlay:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: @colorLayoutLight;
	background-color: rgba(51, 51, 51, 0.8);
	z-index: 1;
}

header:not(.is-home) + .l-main {
    margin-top: 60px;
}

h2 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

h4 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.76);
  font-weight: normal;

  > a {
    color: rgba(0, 0, 0, 0.76);
    &:hover {
      text-decoration: none;
    }
  }
}

a.ng-scope {
    cursor: pointer;
}


