// Apply a natural box layout model to all elements
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Sticky Footer with Flexbox
body {
	.display(flex);
	.flex-direction(column);
	min-height: 100vh;
}
.l-main {
	padding-top: 20px;
	.flex(1);
}

// Define color for overal layout
body, .l-main {
	background-color: @colorLayoutDefault;
}
.l-main .l-container {
	padding: 10px;
	background-color: #ffffff;
	box-shadow: @boxShadow;
}

// Defining grid layout
.l-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 10px;
	padding-right: 10px;
}