// Apply a natural box layout model to all elements
*, *:before, *:after {
	.box-sizing(border-box);
}

// Sticky Footer with Flexbox
body {
	.display(flex);
	.flex-direction(column);
	min-height: 100vh;
}
.l-main {
	margin-top: 50px;		// Required for the fixed header which is 50px height
	.flex(1);
	@media @layoutMedium {
		margin-top: 60px;
	}
}

// Define overal layout
.l-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1200px;		// Limit content to 1200px
}

.l-content--main,
.l-content--aside {
	padding: 10px;
	@media @layoutMedium {
		padding: 20px;
	}
}

.l-content--main {
	@media @layoutMedium {
		.flex(1);
	}
	@media @layoutLarge {
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
	}
}

.l-content--aside {
	margin-top: 10px;
	margin-bottom: 10px;
	@media @layoutMedium {
		margin-top: 0;
		margin-bottom: 0;
		.flex(0 0 40%);
	}
	@media @layoutLarge {
		.flex(0 0 30%);
	}
}

@media @layoutMedium {
	.l-content {
		.display(flex);
		.flex(1);
	}
	.l-content--left {
		.order(-1);
		margin-right: 10px;
	}
	.l-content--right {
		margin-left: 10px;
	}
}

.l-content__section {
	margin-top: 30px;
}

// Reader view (e.g. used for fotographer details)
.l-readerview {
	.l-content--right {
		margin-top: 65px;
	}
}
.l-readerview, .l-listview {
	.l-content__header, 
	.l-content__section {
		@media @layoutLarge {
			max-width: 80%;
		}
	}
}