// Defining layout for content sections
.l-content__section {
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
	overflow: hidden;
	@media @layoutMedium {
		margin-top: 1.5	em;
	}
	@media @layoutLarge {
		margin-top: 2em;
	}
}
.l-content__right .l-content__section {
	padding: 0.5em 1em;
	background-color: @colorLayoutLight;
	.border-radius(@borderRadius);
	@media @layoutMedium {
		margin-top: 0;
	}
	@media @layoutLarge {
		margin-top: 0;
	}
}

.l-readerview,
.l-listview {
	.l-content__main {
		.l-content__header, 
		.l-content__section {
			@media @layoutLarge {
				max-width: 80%;
			}
		}
		.l-content__section.l-content__section--meta {
			@media @layoutLarge {
				max-width: 100%;
			}
		}
	}	
}
.l-content__section.power-search--home form{
  @media @layoutLarge {
    max-width: 45%;
    margin: auto;
  }
}

.l-content__actions {
	@media @layoutMedium {
		padding: 0.5em 1em;
	}
}
.l-content__section.l-boxview{
  .l-content__box{
    margin: 15px 0;
    >div{
      padding: 0 0 20px;
      overflow: hidden;
      h1{
        padding-bottom: 15px;
        border-bottom: 1px solid @colorLayoutBorder;
        cursor: pointer;
      }
      div.box-info{
        margin-bottom: 15px;
      }
      div.box-item{
        margin: 0 0 5px 10px;
      }
    }
  }

  @media @layoutLarge {
    width: 50%;
    float: left;
    .l-content__box{
      padding: 0 15px;
    }
  }
}
.l-content__section.l-boxview{
  .l-content__box{
    margin: 15px 0;
    >div{
      padding: 0 0 20px;
      overflow: hidden;
      h1{
        padding-bottom: 15px;
        border-bottom: 1px solid @colorLayoutBorder;
        cursor: pointer;
      }
      div.box-info{
        margin-bottom: 15px;
      }
      div.box-item{
        margin: 0 0 5px 10px;
      }
    }
  }

  @media @layoutLarge {
    width: 50%;
    float: left;
    .l-content__box{
      padding: 0 15px;
    }
  }
}

.l-content__section.l-boxview--right{
  @media @layoutSmallMax {
    margin-top: -2em;
  }
}