<div class="typetable">
    <type-table 
        type='photographer'
        detail-route='photographerDetail'
        sortings='nachname, geburtsdatum, todesdatum, arbeitsorte, kanton, fotografengattungen_set, bildgattungen_set'
        fields='{
            "name":"{nachname}, {vorname}",
            "geburtsdatum": "geburtsdatum",
            "todesdatum": "todesdatum",
            "arbeitsorte" : "arbeitsorte",
            "kanton": "kanton",
            "fotografengattungen" : "fotografengattungen_set",
            "bildgattungen": "bildgattungen_set"
        }'>
    </type-table>
</div>