<div class="l-content l-listview">
	<div class="l-content__main">
		<div class="l-content__header">
			<h1>{{spr.photographers}}</h1>

			<form class="form-container" action="" novalidate ng-submit="enterFunc()">
				<div angucomplete-alt 
				id="photographer-autocomplete"
				class="field-autocomplete"
				placeholder="{{spr.nachname}} {{spr.vorname}} {{spr.fotograph}}"
				pause="100"
				selected-object="photographerSelected"
				remote-url="https://www2.foto-ch.ch/api/ftas.php?s="
				minlength="2"
				title-field="name,vorname"
				description-field="fldatum"
				match-class="text-match"
				input-class="form-control">
				</div>
			</form>
			<button type="button" class="btn btn--link" ng-repeat="initial in abc" ui-sref="photographer( {anf: '{{initial}}'} )">{{initial}}</button>
		</div>
		<photographer-list photographer="list.res"></photographer-list>
	</div>
</div>