<div class="l-content__section link-list" ng-if="inventories">
	<h2>{{labels.bestaende2}}</h2>
	<ul>
		<li ng-repeat="i in inventories" ui-sref="inventoryDetail( {id: '{{i.id}}', anf: ''} )">
			<div class="link-list__title">
				{{i.name}}
			</div>
			<div class="link-list__description">
				<span ng-if="i.inst_name"><strong>{{labels.institution}}:</strong> {{i.inst_name}}</span> 
				<span ng-if="i.inst_name && i.zeitraum"> | </span>
				<span ng-if="i.zeitraum"><strong>{{labels.zeitraum}}:</strong> {{i.zeitraum}}</span>
			</div>
		</li>
	</ul>
</div>