<div class="modal-header">
    <div class="left">
        <small>{{toptitle}}</small>
        <h1 ng-bind-html="title"></h1>
        <h4 ng-bind-html="subtitle"></h4>
    </div>
    <div class="right">
        <a ng-click="goBack()" class="go-back" title="{{ $root.translations.back }}">{{ $root.translations.back }}</a>
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</div>
<div class="modal-body" ng-include="bodytemplate">
</div>
<div class="modal-footer">
    <a class="prev" ng-if="prev" ng-click="$root.detail(prev, type, carousel)"></a>
    <a class="next" ng-if="next" ng-click="$root.detail(next, type, carousel)"></a>
</div>