<div class="filter-bar" ng-class="{loading : filtering}">
    <div class="l-container">
        <div class="loading-indicator"></div>
        <div class="textsearch" ng-class="{active : textsearch_focus}">
            <label for="textsearch" >{{ translations.search_all }}</label>
            <span class="s-icon"></span>
            <input 
                type="text"
                ng-focus="textsearchfocus()"
                ng-blur="textsearchblur()"
                ng-model="searchquery"
                ng-change="textsearch(searchquery)"
                id="textsearch">
        </div>
        <a class="reset" ng-click="reset()"></a>
    </div>
</div>
<div class="table">
    <div class="l-container">
        <table ng-if="!grid">
            <thead>
                <th ng-repeat="th in tableHead track by $index" 
                    ng-class="thisSortingClass(th.sort)"
                    ng-click="updateSorting(th.sort)">{{th.title}}</th>
            </thead>
            <tbody>
                <tr ng-repeat="tr in tableRows track by $index"
                    ng-click="$root.detail(tr.id, detailRoute, carousel)">
                   <td ng-repeat=" td in tr.dataset track by $index" ng-bind-html="td">{{td}}</td>
                </th>
            </tbody>
        </table>
        <div ng-if="grid" class="grid">
            <div ng-repeat="block in tableRows track by $index"
                ng-click="$root.detail(block.id, detailRoute, carousel)">
               <div ng-repeat=" data in block.dataset track by $index" ng-bind-html="data">{{data}}</div>
            </div>
        </div>
    </div>
</div>