<div class="left">
    <dl ng-if="detail.jahr || detail.ort || detail.institution">
        <dt ng-if="detail.jahr">{{translations.jahr}}</dt><dd>{{detail.jahr}}</dd> 
        <dt ng-if="detail.ort">{{translations.ort}}</dt><dd>{{detail.ort}}</dd>
        <dt ng-if="detail.institution">{{translations.institution}}</dt><dd>{{detail.institution}}</dd>
    </dl>
    <photographer-reference headline="translations.fotographInnen" photographer="detail.photographer"></photographer-reference>
</div>
<div class="right">
    <editing-info labels="translations" date="detail.bearbeitungsdatum" author="detail.autorIn"></editing-info>
    <div class="l-content__actions">
        <a class="btn btn--action" ui-sref="contact">{{translations.proposal_for_improvements}}</a>
    </div>
</div>