<div class="left">
    <dl>
        <dt ng-if="detail.verfasser_name.length > 1">{{translations.autorIn}}</dt>
        <dd ng-if="detail.verfasser_name.length > 1">{{detail.verfasser_name}}<span ng-if="detail.verfasser_vorname.length > 1">, {{detail.verfasser_vorname}}</span></dd>
        <dt ng-if="detail.url.length > 1">{{translations.link_extern}}</dt>
        <dd ng-if="detail.url.length > 1"><a href="{{detail.url}}" class="external-link" target="_blank">{{detail.url}}</a></dd>
        <dt ng-if="detail.ort.length > 1">{{translations.ort}}</dt>
        <dd ng-if="detail.ort.length > 1">{{detail.ort}}</dd>
        <dt ng-if="detail.verlag.length > 1">{{translations.verlag}}</dt>
        <dd ng-if="detail.verlag.length > 1">{{detail.verlag}}</dd>
        <dt ng-if="detail.jahr.length > 1">{{translations.jahr}}</dt>
        <dd ng-if="detail.jahr.length > 1">{{detail.jahr}}</dd>
    </dl>
    <h2>{{translations.fotographen}}</h2>
    <photographer-reference headline="translations.fotographInnen" photographer="detail.photographer"></photographer-reference>
</div>
<div class="right">
</div>