<div class="left">
    <img src="{{ imageRootUrl }}{{photo.image_path}}" style="max-height: 480px;">
</div>
<div class="right">
    <div class="l-photo__description">
        <dl ng-if="!doComments">
            <dt ng-if="photo.name">{{spr.name}}</dt>
            <dd ng-if="photo.name">
                <a ng-click="$root.detail(photo.dc_creator, 'photographer' )">{{ photo.name }}</a>
            </dd>
            <dt ng-if="photo.title">{{spr.titel}}</dt>
            <dd ng-if="photo.title" ng-bind-html="photo.title | rawHtml"></dd>
            <dt ng-if="photo.description">{{spr.description}}</dt>
            <dd ng-if="photo.description" ng-bind-html="photo.description | rawHtml"></dd>
            <dt ng-if="photo.dct_spatial">{{spr.ort}}</dt>
            <dd ng-if="photo.dct_spatial" ng-bind-html="photo.dct_spatial | rawHtml"></dd>
            <dt ng-if="photo.created">{{spr.erstellungsdatum}}</dt>
            <dd ng-if="photo.created" ng-bind-html="photo.created | rawHtml"></dd>
            <dt ng-if="photo.subject">{{spr.keywords}}</dt>
            <dd ng-if="photo.subject" ng-bind-html="photo.subject | rawHtml"></dd>
            <dt ng-if="photo.institution">{{spr.institution}}</dt>
            <dd ng-if="photo.institution">
                <a ng-click="$root.detail(photo.inst_id, 'institution' )">{{ photo.institution }}</a>
            </dd>
            <dt ng-if="photo.stock">{{spr.bestand}}</dt>
            <dd ng-if="photo.stock">
                <a ng-click="$root.detail(photo.stock_id, 'inventory' )">{{ photo.stock }}</a>
            </dd>
            <dt ng-if="photo.copy">{{spr.copy}}</dt>
            <dd ng-if="photo.copy" ng-bind-html="photo.copy | rawHtml"></dd>
            <dt ng-if="photo.medium">{{spr.medium}}</dt>
            <dd ng-if="photo.medium" ng-bind-html="photo.medium | rawHtml"></dd>
            <dt ng-if="photo.img_url">{{spr.img_url}}</dt>
            <dd ng-if="photo.img_url" ng-bind-html="photo.img_url | rawHtml" style="word-wrap: break-word;"></dd>
            <dt ng-if="photo.supp_id">{{spr.supp_id}}</dt>
            <dd ng-if="photo.supp_id" ng-bind-html="photo.supp_id | rawHtml"></dd>
            <dt ng-if="photo.supp_id">ID-Foto</dt>
            <dd ng-if="photo.supp_id" ng-bind-html="photo.id | rawHtml"></dd>
        </dl>
        <dl ng-if="doComments"><form ng-submit="submit()">
            <dt>{{spr.name}}</dt>
            <dd ng-bind-html="photo.name | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><input ng-model="comment.name" style="width: 100%;"></input></dd>                   
            <dt>{{spr.titel}}</dt>
            <dd ng-bind-html="photo.title | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><input ng-model="comment.title" style="width: 100%;"></input></dd>                     
            <dt>{{spr.description}}</dt>
            <dd ng-bind-html="photo.description | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><textarea ng-model="comment.description"></textarea></dd>
            <dt>{{spr.ort}}</dt>
            <dd ng-bind-html="photo.dct_spatial | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><textarea ng-model="comment.ort"></textarea></dd>
            <dt>{{spr.erstellungsdatum}}</dt>
            <dd ng-bind-html="photo.created | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><input ng-model="comment.created" style="width: 100%;"></input></dd>
            <dt>{{spr.keywords}}</dt>
            <dd ng-bind-html="photo.subject | rawHtml"></dd>
            <dt>{{spr.aenderungsvorschlag}}</dt>
            <dd><textarea ng-model="comment.subject"></textarea></dd>
            <dt>{{spr.allgemeine_bemerkungen}}</dt>
            <dd><textarea ng-model="comment.comments"></textarea></dd>
            <dt>{{spr.erstellungsdatum}}</dt>
            <dt ng-if="photo.institution">{{spr.institution}}</dt>
            <dd ng-if="photo.institution">
                <a ng-click="$root.detail(photo.inst_id, 'institution' )">{{ photo.institution }}</a>
            </dd>
            <dt ng-if="photo.stock">{{spr.bestand}}</dt>
            <dd ng-if="photo.stock">
                <a ng-click="$root.detail(photo.stock_id, 'inventory' )">{{ photo.stock }}</a>
            </dd>
            <dt ng-if="photo.copy">{{spr.copy}}</dt>
            <dd ng-if="photo.copy" ng-bind-html="photo.copy | rawHtml"></dd>
            <dt ng-if="photo.medium">{{spr.medium}}</dt>
            <dd ng-if="photo.medium" ng-bind-html="photo.medium | rawHtml"></dd>
            <dt ng-if="photo.img_url">{{spr.img_url}}</dt>
            <dd ng-if="photo.img_url" ng-bind-html="photo.img_url | rawHtml" style="word-wrap: break-word;"></dd>
            <dt ng-if="photo.supp_id">{{spr.supp_id}}</dt>
            <dd ng-if="photo.supp_id" ng-bind-html="photo.supp_id | rawHtml"></dd>
            <dt ng-if="photo.supp_id">ID-Foto</dt>
            <dd ng-if="photo.supp_id" ng-bind-html="photo.id | rawHtml"></dd>
            <dt></dt>
            <dd><input type="submit" id="submit" value="{{spr.aenderungsvorschlag_speichern}}" /></dd>
            </form>
        </dl>
    </div>
</div>