<div class="left">
    <div class="" ng-if="detail.namen.length > 1 || detail.heimatort || detail.fotografengattungen || detail.bildgattungen || detail.beruf || detail.arbeitsperioden.length > 0 || detail.kantone || detail.pnd">
        <dl>
            <dt ng-if="detail.namen.length > 1">{{translations.namensvariante}}</dt>
            <dd ng-if="!$first" ng-repeat="n in detail.namen">{{n.nachname}}<span ng-if="p.vorname || p.namenszusatz">, {{p.vorname}} {{p.namenszusatz}}</span></dd>
            <dt ng-if="detail.heimatort">{{translations.heimatort}}</dt>
            <dd ng-if="detail.heimatort">{{detail.heimatort}}</dd>
            <dt ng-if="detail.fotografengattungen">{{translations.fotografengattungen}}</dt>
            <dd ng-if="detail.fotografengattungen">{{detail.fotografengattungen}}</dd>
            <dt ng-if="detail.bildgattungen">{{translations.bildgattungen}}</dt>
            <dd ng-if="detail.bildgattungen">{{detail.bildgattungen}}</dd>
            <dt ng-if="detail.beruf">{{translations.beruf}}</dt>
            <dd ng-if="detail.beruf">{{detail.beruf}}</dd>
            <dt ng-if="detail.arbeitsperioden.length > 1">{{translations.arbeitsorte}}</dt>
            <dt ng-if="detail.arbeitsperioden.length==1">{{translations.arbeitsort}}</dt>
            <dd ng-if="detail.arbeitsperioden.length > 0"><p><span ng-repeat="a in detail.arbeitsperioden">{{a.arbeitsort}} {{a.um_vonf+a.von+ (a.um_vonf+a.von+a.um_bisf+a.bis!=''?' - ':' ')+a.um_bisf+a.bis}}<br></span></p></dd>
            <dt ng-if="detail.kantone">{{translations.kantone}}</dt>
            <dd ng-if="detail.kantone">{{detail.kantone}}</dd>
            <dt ng-if="detail.pnd">GND</dt>
            <dd ng-if="detail.pnd"><a target="_blank" href="http://d-nb.info/gnd/{{detail.pnd}}">{{detail.pnd}}</a></dd>
        </dl>
    </div>
    <!-- Detail Information - Accordion -->
    <uib-accordion close-others="oneAtATime">
        <!-- Werdegang -->
        <uib-accordion-group heading="{{translations.werdegang}}" ng-if="detail.werdegang">
            <content-raw headline="" value="detail.werdegang"></content-raw>
        </uib-accordion-group>

        <!-- Schaffensbeschrieb -->
        <uib-accordion-group heading="{{translations.schaffensbeschrieb}}" ng-if="detail.schaffensbeschrieb">
            <content-raw headline="" value="detail.schaffensbeschrieb"></content-raw>
        </uib-accordion-group>

        <!-- Biographie -->
        <uib-accordion-group heading="{{translations.biografie}}" ng-if="detail.biografie">
            <content-raw headline="" value="detail.biografie"></content-raw>
        </uib-accordion-group>

        <!-- Auszeichnungen und Stipendien -->
        <uib-accordion-group heading="{{translations.auszeichnungen_und_stipendien}}" ng-if="detail.auszeichnungen_und_stipendien">
            <content-raw headline="" value="detail.auszeichnungen_und_stipendien"></content-raw>
        </uib-accordion-group>

        <!-- Bestände -->
        <uib-accordion-group heading="{{translations.bestaende2}}" ng-if="detail.bestaende">
            <inventory-reference hidetitle="true" labels="translations" inventories="detail.bestaende"></inventory-reference>
        </uib-accordion-group>

        <!-- Primärliteratur -->
        <uib-accordion-group heading="{{translations.primaerliteratur}}" ng-if="detail.primaerliteratur">
            <default-list headline="" values="detail.primaerliteratur" link-to="literature"></default-list>
        </uib-accordion-group>

        <!-- Sekundärliteratur -->
        <uib-accordion-group heading="{{translations.sekundaerliteratur}}" ng-if="detail.sekundaerliteratur">
            <default-list headline="" values="detail.sekundaerliteratur" link-to="literature"></default-list>
        </uib-accordion-group>

        <!-- Einzelausstellungen -->
        <uib-accordion-group heading="{{translations.einzelausstellungen}}" ng-if="detail.einzelausstellungen">
            <default-list headline="" values="detail.einzelausstellungen" link-to="exhibition"></default-list>
        </uib-accordion-group>

        <!-- Gruppenausstellungen -->
        <uib-accordion-group heading="{{translations.gruppenausstellungen}}" ng-if="detail.gruppenausstellungen">
            <default-list headline="" values="detail.gruppenausstellungen" link-to="exhibition"></default-list>
        </uib-accordion-group>

        <!-- Notiz -->
        <uib-accordion-group heading="{{translations.notiz}}" ng-if="detail.notiz">
            <content-raw headline="" value="detail.notiz"></content-raw>
        </uib-accordion-group>

        <!-- Publizieren -->
        <uib-accordion-group heading="{{translations.npublizieren}}" ng-if="detail.npublizieren">
            <content-raw headline="" value="detail.npublizieren"></content-raw>
        </uib-accordion-group>


    </uib-accordion>
</div>
<div class="right">
    <content-raw headline="translations.umfeld" ng-if="detail.umfeld" value="detail.umfeld" class="hide-on-small"></content-raw>
    <editing-info labels="translations" date="detail.bearbeitungsdatum" author="detail.autorIn"></editing-info>
    <div class="l-content__actions">
        <a class="btn btn--action" ui-sref="contact">{{translations.proposal_for_improvements}}</a>
    </div>
</div>
<div class="full">
    <photo-teaser 
        photos="detail.photos" 
        labels="translations" 
        headline="translations.photos"
        query="{{ detail.namen[0].nachname }}"
        >
    </photo-teaser>
</div>