<!-- BEGIN:content -->
<h1>{SPR.institution}</h1>
<!-- BEGIN:i1 -->
<table class="il1">
  <colgroup>
    <col width="100">
    <col width="500">
    <col width="100">
  </colgroup>
<tr><th>{SPR.sprachkuerzel}</th><th>{SPR.name}</th><th>{SPR.abkuerzung}</th>
</tr>
<tr>
<td>de</td>
<td>{I.name}</td>
<td>{I.abkuerzung}</td>
</tr>
<tr>
<td>fr</td>
<td>{I.name_fr}</td>
<td>{I.abkuerzung_fr}</td>
</tr>
<tr>
<td>it</td>
<td>{I.name_it}</td>
<td>{I.abkuerzung_it}</td>
</tr>
<tr>
<td>rm</td>
<td>{I.name_rm}</td>
<td>{I.abkuerzung_rm}</td>
</tr>
<tr>
<td>en</td>
<td>{I.name_en}</td>
<td>{I.abkuerzung_en}</td>
</tr>
<tr>
<td>andere</td>
<td></td>
<td></td>
</tr>
</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i2 -->
<table class="il2">
  <colgroup>
    <col width="200">
    <col width="75">
    <col width="75">
    <col width="75">
    <col width="75">
  </colgroup>
<tr>
<td>{SPR.territoriumszugegoerigkeit}</td>
<td>{I.t_de} de</td>
<td>{I.t_fr} fr</td>
<td>{I.t_it} it</td>
<td>{I.t_rm} rm</td>
</tr>
</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i3 -->
<table class="il3">
  <colgroup>
    <col width="200">
    <col width="300">
  </colgroup>
<tr>
<td>{SPR.isil}</td>
<td>{I.isil}</td>
</tr>
</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i4 -->
<table class="il4">
  <colgroup>
    <col width="175">
    <col width="175">
    <col width="175">
    <col width="175">
  </colgroup>
<tr>
<td>{SPR.art_der_institution}</td>
<td colspan="3"></td>
</tr>
<tr class="nb">
<td>{checkbox} {SPR.art1}</td>
<td>{checkbox} {SPR.art2}</td>
<td>{checkbox} {SPR.art3}</td>
<td>{checkbox} {SPR.art4}</td>
</tr>
<tr>
<td colspan="4">{checkbox} {SPR.andere}:</td>
</tr>

</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i5 -->
<table class="il5">
  <colgroup>
    <col width="200">
    <col width="500">
  </colgroup>
<tr>
<td>{SPR.adresse}<br />&nbsp;</td>
<td>{I.adresse}</td>
</tr>
<tr>
<td>{SPR.plz}</td>
<td>{I.plz}</td>
</tr>
<tr>
<td>{SPR.ort}</td>
<td>{I.ort}</td>
</tr>
<tr>
<td>{SPR.kanton}</td>
<td>{I.kanton}</td>
</tr>
</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i6 -->
<table class="il5 nb">
  <colgroup>
    <col width="200">
    <col width="500">
  </colgroup>
<tr>
<td>{SPR.kontaktperson}*</td>
<td>{I.kontaktperson}</td>
</tr>
<tr>
<td>{SPR.telefon}*</td>
<td>{I.telefon}</td>
</tr>
<tr>
<td>{SPR.fax}</td>
<td>{I.fax}</td>
</tr>
<tr>
<td>{SPR.email}</td>
<td>{I.email}</td>
</tr>
<tr class="nb">
<td colspan="2"><i>*{SPR.wird_nicht_pub}</i></td>

</tr>

</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i7 -->
<table class="il7">
  <colgroup>
    <col width="200">
    <col width="300">
  </colgroup>
<tr>
<td>{SPR.homepage}</td>
<td>{I.homepage}</td>
</tr>
</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i8 -->
<table class="il8">
  <colgroup>
    <col width="233">
    <col width="233">
    <col width="234">

  </colgroup>
<tr>
<td colspan="3">{SPR.zugang_zur_sammlung}</td>
</tr>
<tr>
<td>{checkbox} {SPR.zug1}</td>
<td>{checkbox} {SPR.zug2}</td>
<td>{checkbox} {SPR.andere}:</td>
</tr>
</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i9 -->
<table class="il7">
  <colgroup>
    <col width="200">
    <col width="500">
  </colgroup>
<tr>
<td>{SPR.sammlungszeit} {SPR.von}</td>
<td>{I.sammlungszeit_von}</td>
</tr>
<tr>
<td>{SPR.sammlungszeit} {SPR.bis}</td>
<td>{I.sammlungszeit_bis}</td>
</tr>
</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i10 -->
<table class="il10">
  <colgroup>
    <col width="140">
    <col width="140">
    <col width="140">
    <col width="140">
    <col width="140">
  </colgroup>
<tr>
<td colspan="5">{SPR.bildgattungen}</td>
</tr>{bildg}
</table>
<br />
<!-- END:i1 -->
<!-- BEGIN:i11 -->
<table class="il11">
  <colgroup>
    <col width="200">
    <col width="500">
  </colgroup>
<tr>
<td>{SPR.sammlungsgeschichte}</td>
<td>{I.sammlungsgeschichte}</td>
</tr>
<tr>
<td>{SPR.sammlungsbeschreibung}</td>
<td>{I.sammlungsbeschreibung}</td>
</tr>
</table>
<br />
<!-- END:i1 -->

<!-- END:content -->