<div class="l-content__section media--photo-teaser" ng-if="photos">
    <h2 ng-if="headline">{{headline}}</h2>
    <ul>
        <li class="photo-teaser__item" ng-repeat="p in photos">
            <a class="l-photo-teaser__link" ui-sref="photoDetail({ id: p.id })">
                <img src="http://www.foto-ch.ch/{{p.image_path}}" alt="{{p.title}}">
            </a>

            <div class="photo-teaser__description">
                <a class="l-photo-teaser__link" ui-sref="photoDetail({ id: p.id })">
                    <span class="photo-teaser__caption" ng-bind-html="p.title | rawHtml"></span>
                </a>
            </div>
        </li>
    </ul>
    <!-- <a class="btn btn--action">{{labels.all_photos}}</a> -->
</div>