<div class="l-content l-searchview">
    <div class="l-content__main">
        <div class="l-content__header">
            <h1 class="hero--headline">{{spr.photos}}</h1>
        </div>
        <div class="l-content__section l-photo-teaser">
            <photo-teaser-box class="l-photo-teaser l-photo-teaser--photo"></photo-teaser-box>
        </div>
    </div>
    <aside class="l-content__aside l-content__right">
        <div class="l-content__section">Filter</div>
    </aside>
</div>


