<div class="l-content l-listview">
    <div class="l-content__main">
        <div class="l-content__section">
            <div class="l-photo-detail">
                <img src="http://www.foto-ch.ch/{{photo.image_path}}">
            </div>
        </div>
        <div class="l-content__section">
            <div class="l-photo-description">
                <dl>
                    <dt ng-if="photo.title">{{spr.titel}}</dt>
                    <dd ng-if="photo.title" ng-bind-html="photo.title | rawHtml"></dd>
                </dl>
            </div>
        </div>
    </div>
</div>