.text-hide() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Hide elemnts on small layout only
.hide-on-small {
	display: none;
	@media @layoutMedium {
		display: inline-block;
	}
}

// Hide elements on medium and large layout
.hide-on-medium {
	@media @layoutMedium {
		display: none;
	}
}