// Icon font including mapping
@font-face {
  font-family: 'iconfotoch';
  src: url('../font/iconfotoch.eot');
  src: url('../font/iconfotoch.eot?#iefix') format('embedded-openfont'), url('../font/iconfotoch.woff') format('woff'), url('../font/iconfotoch.ttf') format('truefont'), url('../font/iconfotoch.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "iconfotoch" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iconfotoch" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "a";
}

.icon-magnifying-glass:before {
  content: "d";
}

.icon-mail:before {
  content: "e";
}

.icon-paper-plane:before {
  content: "b";
}

.icon-pencil:before {
  content: "c";
}

.icon-phone:before {
  content: "f";
}

.icon-plus:before {
  content: "g";
}

@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Bold.eot') format('embedded-opentype');
  src: url('../font/Lato-Bold.eot#iefix') format('embedded-openfont'), url('../font/Lato-Bold.woff') format('woff'), url('../font/Lato-Bold.ttf') format('truefont'), url('../font/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Light.eot') format('embedded-opentype');
  src: url('../font/Lato-Light.eot#iefix') format('embedded-openfont'), url('../font/Lato-Light.woff') format('woff'), url('../font/Lato-Light.ttf') format('truefont'), url('../font/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../font/Lato-Regular.eot') format('embedded-opentype');
  src: url('../font/Lato-Regular.eot#iefix') format('embedded-openfont'), url('../font/Lato-Regular.woff') format('woff'), url('../font/Lato-Regular.ttf') format('truefont'), url('../font/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../font/OpenSans-Regular-webfont.eot');
  src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-openfont'), url('../font/OpenSans-Regular-webfont.woff2') format('woff2'), url('../font/OpenSans-Regular-webfont.woff') format('woff'), url('../font/OpenSans-Regular-webfont.ttf') format('truefont'), url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../font/OpenSans-Italic-webfont.eot');
  src: url('../font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-openfont'), url('../font/OpenSans-Italic-webfont.woff2') format('woff2'), url('../font/OpenSans-Italic-webfont.woff') format('woff'), url('../font/OpenSans-Italic-webfont.ttf') format('truefont'), url('../font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../font/OpenSans-Semibold-webfont.eot');
  src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-openfont'), url('../font/OpenSans-Semibold-webfont.woff2') format('woff2'), url('../font/OpenSans-Semibold-webfont.woff') format('woff'), url('../font/OpenSans-Semibold-webfont.ttf') format('truefont'), url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  color: @colorText;
  line-height: @textLineHeightDefault;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-smooth: always;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: @textLineHeightHeadline;
  color: @colorTextHeadline;
}

h1 {
  margin-bottom: 0.5em;
  font-family: Lato, sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  @media @layoutMedium {
    text-align: left;
  }
}
.l-content__main--home h1{
  @media @layoutMedium {
    text-align: center;
  }
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  line-height: @textLineHeightParagraph;
  &.text-intro {
    color: @colorTextHeadline;
    font-family: Lato, sans-serif;
  }
}

a {
  color: @colorActionPrimary;
  text-decoration: none;
  &:hover {
    color: darken(@colorActionPrimary, 10%);
    text-decoration: underline;
  }
}

.text-intro {
  font-size: 1.125rem;
  line-height: @textLineHeightParagraph;
}