// COLOR
@colorText: #333333; //#444444;
@colorTextInverted: #ffffff;
@colorTextDisabled: #dddddd;
@colorTextHeadline: @colorText;

@colorLayoutDefault: #f2f2f2;
@colorLayoutHighlight: #4b585c;
@colorLayoutBorder: #dddddd;

@colorFormBorder: @colorLayoutHighlight;

@colorActionPrimary: #388099;
@colorActionHover: #489ebc;

@colorFeedbackSuccess: #65a8a6;
@colorFeedbackError: #d37961;
@colorFeedbackInfo: #fbb03b;

// Media queries
@layoutMedium: ~'screen and (min-width: 768px)';
@layoutLarge: ~'screen and (min-width: 1024px)';

@borderRadius: 3px;
@boxShadow: 1px 1px 1px 0px @colorLayoutBorder;