// COLOR
@colorText: #333333;
@colorTextLight: #666666;
@colorTextInverted: #ffffff;
@colorTextDisabled: #dddddd;
@colorTextHeadline: #444444;

@colorLayoutLight: #F9F9F9;
@colorLayoutHighlight: #4b585c;
@colorLayoutBorder: #dddddd;

@colorFormBorder: @colorLayoutHighlight;

@colorActionPrimary: #01579b;
@colorActionSecondary: #b3e5fc;

@colorFeedbackSuccess: #65a8a6;
@colorFeedbackError: #d37961;
@colorFeedbackInfo: #fbb03b;

// Typography
@textLineHeightDefault: 1.3;
@textLineHeightParagraph: 1.7;
@textLineHeightHeadline: 1.2;

// Layout
@layoutMediumMax: ~'screen and (max-width: 769px)';
@layoutSmallMax: ~'screen and (max-width: 768px)';
@layoutMedium: ~'screen and (min-width: 768px)';
@layoutLarge: ~'screen and (min-width: 1024px)';
@headerHeightSmall: 50px;
@headerHeightMedium: 60px;
@layoutMaxWidth: 1280px;			// Max. width for the content

// Animation
@animation: ~'250ms ease-in';
@transitionDuration: 500ms;
@transitionFunction: ~'ease';

// General
@borderRadius: 3px;
@boxShadow: 0px 0px 2px 1px @colorLayoutBorder;
@offCanvasWidth: 70%;

@fontMain: "Roboto", sans-serif;