<form class="form-container" ng-submit="submitForm()" novalidate>
    <input type="text"
           class="power-search__input"
           placeholder="Suche"
           autofocus="true"
           ng-model="powersearch">
    <button class="btn power-search__button" ng-click="submitForm()">
        <span class="icon-magnifying-glass"></span>
    </button>
</form>
<a class="power-search__link" ui-sref="photographer">> {{spr.photographers}}</a>
<a class="power-search__link" ui-sref="institution">> {{spr.institutionen}}</a>
<a class="power-search__link" ui-sref="exhibition">> {{spr.ausstellungen}}</a>
<a class="power-search__link" ui-sref="photo">> {{spr.photos}}</a>
