<h1>Testseite</h1>
<p class="text-intro">
	Test 123
</p>


{{debug}}

Sprache: {{spr.language}}


<div angucomplete-alt id="fotographer"
              placeholder="Search members"
              pause="100"
              selected-object="fotographerSelected"
              remote-url="http://www2.foto-ch.ch/api/ftas.php?s="
              minlength="1"
              title-field="name,vorname"
              description-field="fldatum"
              
              input-class="form-control form-control-small"></div>
              
        
              