<h1>Testseite</h1>
<style>
.map {
    height: 400px;
    width: 600px;
 }
</style>

<div id="map" class="map" ng-click="displayFeatureInfo($event)"></div>


<p class="text-intro" ng-bind="name"></p>
<p class="text-intro" ng-bind-html="swissname | rawHtml"></p>
<div ng-repeat="ap in aps">
<a ui-sref="photographerDetail( {id: '{{ap.id}}'} )">{{ap.name}}</a> {{ap.periode}}
</div>

<!--   {{debug}}

<p>Sprache: {{spr.language}}</p>

<p>User: {{user}}</p>
<p>Userlevel: {{userLevel}}</p>
<p>AuthToken: {{authToken}}</p>
  
       --> 
              